[2015-01-06 15:40] muthusk24 opened #1 "Sequence Logs"
The plugin is throwing error on sequence of logs. Given the below commands in sequence and I can see one entry in cloud watch.
        winston.error('exception details');
    winston.info('information details',null);

Exception details:
{ [OperationAbortedException: A conflicting operation is currently in progress against this resource. Please try again.]
  message: 'A conflicting operation is cur

[2015-01-07 20:50] lazywithclass commented on #1
I've written a quick fix to that issue. You should update to 0.1.2 to get it.

I still have to make sure that the issue is not showing anymore even with lots of logs, I will test it with a higher volume tomorrow.

[2015-01-09 10:45] lazywithclass opened #2 "Add travis-ci"

[2015-01-10 21:26] #2 closed

[2015-01-14 08:38] lazywithclass commented on #1
Is the issue fixed for you?

[2015-01-14 23:22] rickwaugh1 opened #3 "Confusion on Usage"
Can't get this to work, and it's difficult for me to tell how much more I have to do besides the example you have given.

I have an aws user with power user access. I created a short node script on an ec2 instance, which I have pasted below my question here. Winston works, I get both the "winston.error" line, and the "mainLog.log" line at the end both send messages to the console, and the last one

[2015-01-14 23:41] rickwaugh1 commented on #3
Added an ~/.aws/credentials file. Still no love.

[2015-01-23 22:17] lazywithclass commented on #3
Sorry for asnwering so late.

I am working on it. I've updated the README with a notice about this.

[2015-01-23 22:21] lazywithclass opened #4 "Fix the problem about Cloudwatch rejecting bursts of activity"
One possible solution might be to use a queuing feature, so that logs are just stored internally and later sent as bursts at fixed intervals, with retries.

[2015-02-03 13:14] lazywithclass opened #5 "Dependencies are out of date"

[2015-02-03 13:46] lazywithclass commented on #4
This seems to be fixed now.

[2015-02-03 13:46] #4 closed

[2015-02-03 13:48] lazywithclass commented on #3
@rickwaugh1 I've made an update, you could find it in version `0.2.1`.
It's just a `setInterval` around the uploading function. I know it's not ideal, I will check it in the upcoming days on a system I own.

[2015-02-10 21:21] rickwaugh1 commented on #3
Thanks, hopefully I can try this out this week, too.

[2015-02-12 18:36] rickwaugh1 commented on #3
Hmm, still having issues. I get an error, saying I don't have a region. I looked in the code, and it looks like it's expecting awsRegion to be passed in the options, so I added this, as 'us-west-2', and I still got the error.

[ConfigError: Missing region in config]
  message: 'Missing region in config',
  code: 'ConfigError',
  time: Thu Feb 12 2015 10:26:04 GMT-0800 (PST) } 'ConfigError: Missing

[2015-02-13 10:09] lazywithclass commented on #3
I will check this in the next couple of hours on a new project with a fresh new server. I can't reproduce your error as of now.

Make sure you're using version `0.2.4` of this plugin.

[2015-02-13 10:55] lazywithclass commented on #3
@rickwaugh1 please check `0.2.5`. Works on a new docker image without any previous environment setup.

[2015-02-13 10:56] #5 closed

[2015-02-13 17:07] rickwaugh1 commented on #3
Okay, did that, and it now accepts the region in the options file. But now I get an error about the log group not existing:

ResourceNotFoundException: The specified log group does not exist.

I'm trying to figure out how to create a log group, if I need one and no where that I can find in the AWS docs does it say how to do that. Is it the intention that I can simply run this module, specify a bra

[2015-02-13 17:40] rickwaugh1 commented on #3
Okay, I got this to go. Using the AWS CLI, I created a log group and a log stream. It then ran successfully. Yahoo. This can replace a whole set of servers and an sqs queue.

[2015-02-15 22:52] lazywithclass commented on #3
I usually create log groups and log streams from [the web interface](https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#logs:).

I'm glad we got this working. I probably will deploy it on our infrastructure this week, so I will be able to see if anything goes wrong.

Thanks for the help ^^

[2015-02-15 22:52] #3 closed

[2015-02-18 09:56] lazywithclass opened #7 "Messages could pile up and never be sent"
Find out a solution, in that case we might want to send messages a bit faster, or send more. Still remaining under the limitation enforced by CloudWatch.

[2015-02-19 17:10] rickwaugh1 opened #8 "Meta data braces always showing"
Minor issue. If I send no meta data, {...and this}, I still get the empty braces showing up in cloudwatch.

2015-02-13 18:26:59 UTC info - Environment dev listening on 8081... - {}

[2015-03-03 11:28] lazywithclass commented on #8
Yes, I saw that, is it causing problems to you?
For example because you parse it in some way expecting something if the curly braces are there?

[2015-03-03 16:50] rickwaugh1 commented on #8
No, simple esthetics. :D Not a problem at all.

On 2015-03-03 3:28 AM, Alberto Zaccagni wrote:

--
Server Developer
Finger Food Studios Inc.
tel: 604-475-0350
email: rick@fingerfoodstudios.com

skype: rick.waugh4

www.fingerfoodstudios.com

MESSAGES / COMMENTS This message is intended for the use of the individual or entity to which it is addressed and may contain information that is privileged, c

[2015-03-03 16:58] lazywithclass commented on #8
Ok then thanks for pointing that out, but if we are fine with having it this way I'll mark the issue as wontfix.

[2015-03-03 16:59] #8 closed

[2015-03-04 14:26] lazywithclass opened #9 "Send logs using a recursive setTimeout"
With `setInterval` we might end up with overlapping requests.
This has been proposed [here](https://github.com/lazywithclass/winston-cloudwatch/pull/6/files#diff-02812b53c44d911fa3bf7a5555eba50fR21) as part of https://github.com/lazywithclass/winston-cloudwatch/pull/6.

[2015-03-12 16:18] lazywithclass commented on #9
Addressed here: https://github.com/lazywithclass/winston-cloudwatch/tree/improvements-to-upload

[2015-03-12 16:18] lazywithclass opened #10 "Finish integrating PR #6"
https://github.com/lazywithclass/winston-cloudwatch/pull/6

[2015-03-13 22:25] bburket opened #11 "TypeError: Cannot read property 'uploadSequenceToken' of undefined"
/home/bill/Documents/git/key-service-node/node_modules/aws-sdk/lib/request.js:32
          throw err;

at Response.<anonymous> (/home/bill/Documents/git/key-service-node/node_modules/winston-cloudwatch/lib/cloudwatch-integration.js:64:22)
    at Request.AWS.Request.inherit.send (/home/bill/Documents/git/key-service-node/node_modules/aws-sdk/lib/request.js:350:18)
...

[2015-03-16 22:56] bburket opened #12 "InvalidSequenceTokenException: The given sequenceToken is invalid"
Full exception:

{ [InvalidSequenceTokenException: The given sequenceToken is invalid. The next expected sequenceToken is: 49547819323650541342942483991180069050112003840413809090]
  message: 'The given sequenceToken is invalid. The next expected sequenceToken is: 49547819323650541342942483991180069050112003840413809090',
  code: 'InvalidSequenceTokenException',
  time: Mon Mar 16 2015 22:51:26 GM

[2015-03-16 23:43] theRealGabacho commented on #12
Note: It would be possible to use a dynamically generated log stream name, but due to the problem encountered in issue #11, this is difficult

[2015-03-16 23:43] theRealGabacho commented on #11
Turns out this was caused by the log stream not yet existing.

[2015-03-20 15:40] lazywithclass commented on #11
Thanks, I will handle that scenario so that the error is meaningful.

Possibly checking the error that I get from AWS or doing a call to see if both log group and log stream are there.

[2015-03-20 15:43] lazywithclass commented on #12
I think there should be a way to retry this, as far as I've understood it that error means CloudWatch Logs has received more requests than we are allowed to send, so it refuses.

I'll have a look at implementing a retry policy during the weekend.

[2015-03-20 16:56] lazywithclass commented on #12
I'm testing this library at work in a spiked environment, I've identified a couple silly mistakes by me and addressed them.
Those fixes along with a few other changes from @machinemetrics could be found [here](https://github.com/lazywithclass/winston-cloudwatch/blob/improvements-to-upload/lib/cloudwatch-integration.js).

Expect a new version over the weekend, after some more testing.

[2015-03-23 09:17] lazywithclass commented on #12
The test went fine, I run into a couple of issues but everything should be fine now.
I will test this a bit more and release the new version in a couple of days.

If you have any comments about the change just let me know.

[2015-03-23 09:18] #9 closed

[2015-03-24 08:54] lazywithclass opened #13 "log how many items are in the queue"
Turned off by default, if passed something like

[code]
with `verbose` as truthy the library should log to console the size of the queue.

[2015-03-24 15:05] lazywithclass commented on #7
We might want to do something like http://stackoverflow.com/a/6351386

Based on that we can see how many messages we can send, until we reach the limit [expressed in the docs](http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/cloudwatch_limits.html):

[2015-03-31 21:22] lazywithclass opened #15 "Before merging into master update README"
* new option for [AWS profile](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/SharedIniFileCredentials.html)
 * new way of creating the library via `new`

These are breaking changes, it might need a 1.0.0.

[2015-03-31 22:09] lazywithclass commented on #13
Addressed in https://github.com/lazywithclass/winston-cloudwatch/commit/69f5af804bf97d2628b54fbce0c34a6d8093242d

[2015-03-31 22:09] #13 closed

[2015-03-31 22:09] #10 closed

[2015-03-31 22:10] lazywithclass commented on #1
I'm closing this as the upcoming release will change a lot, most likely will fix the issue because it's the whole point of it.

[2015-04-02 13:11] lazywithclass opened #16 "Stress tests over easter"
Find out how the library performs with constant requests. Ideally the in memory queue should never grow past 0 items, since we are sending 32kb/s worth of log data.

If that happens we might consider increasing the uploads up to 5 per second, which is AWS limit.

[2015-04-02 13:12] lazywithclass commented on #16
Tests are currently running in a demo environment I've set up with out application and some demo data being constantly requested. See you in 5 days :D

[2015-04-02 16:28] lazywithclass opened #17 "Check if it's sensible to calculate size of the object"
...rather than of the `JSON.stringify` version of it.

[2015-04-13 16:44] #7 closed

[2015-04-13 16:44] #16 closed

[2015-04-13 16:49] lazywithclass commented on #12
@bburket I've thought again about this, I think there is no real answer except creating a stream for each instance of the library, which then would mean:

 * bundling or requiring the aws cli to create groups / streams
 * leaving to the user the burden of collecting logs from multiple locations and ordering the log lines based on time

Or... accepting the fact that some logs might get lost, the ap

[2015-04-13 18:37] rickwaugh1 commented on #12
?Hmm, just ran into this also. I'm using version 0.3.0. Is it definite that it's us exceeding the throughput

[2015-09-24 20:04] #15 closed

[2015-09-28 14:49] typ90 opened #22 "Single log streams return not found even though they exist"
When trying to hook up a single log stream, line 71 of `cloudwatch-integration.js` checks for `matches/length` which returns false in the case that a single object is returned.

In the case that a single log is matches, `_.find` returns a single object instead of an array and throws a false error that `Stream not found`.

[2015-10-06 13:32] lazywithclass commented on #22
I am working on this.
I hope to provide a fix for tonight.

I decided to stop the work I was doing to address #11 since there seems to be an error now on the project due to me merging PRs without proper test.

[2015-10-06 19:14] lazywithclass commented on #22
I have the fix, I will test it tomorrow at work and release a new version.

[2015-10-07 15:34] lazywithclass commented on #22
Version 0.6.1 should address this.

I tested it and it works fine. Please let me know if it works also for you.

[2015-10-21 16:20] #11 closed

[2015-10-21 16:21] #12 closed

[2015-10-21 16:22] lazywithclass opened #23 "Handle the scenario where we're trying to upload to a non-existing resource"
It could be that the group or the stream do not exist.

[2015-10-21 16:22] #22 closed

[2015-10-21 16:22] #17 closed

[2015-10-26 17:22] lazywithclass opened #24 "Advice using env var for stream name"
Add a note in the README about using an environment variable to define a log stream name, defaulting to a fixed value.

[2015-11-10 10:00] lazywithclass opened #25 "Add timestamp to the logs"
It might be good to have it configurable as an option.

[2015-11-12 17:21] lazywithclass opened #26 "Have cloudwatchIntegration.init accept a parameters object"
Invoked like

    var params = {
      // ...
    }

    cloudwatchIntegration.init(params);

and declared like

    module.exports.init = function(params) {
      // ...
    }

So that it's easier to handle new additions and we don't have an infinite list of arguments.

[2015-12-15 22:36] #23 closed

[2015-12-17 02:39] traverseDLP opened #29 "Readme should demonstrate jsonMessage option"
It took a bit of digging to determine that I could enable json logging with `jsonMessage: true`. It would be awesome if you could add this to your readme or example.

[2015-12-17 09:29] lazywithclass commented on #29
Is it better now?

[2015-12-17 23:37] traverseDLP commented on #29
Much better! Thanks very much. You might want to put what kind of data types those options are looking for, but that's for you to decide.

[2015-12-17 23:37] #29 closed

[2015-12-18 14:07] lazywithclass commented on #29
It makes sense for `jsonMessage` IMHO.

[2015-12-29 22:36] keithchilders opened #30 "Getting ThrottlingException: Rate exceeded with multiple instances of the transport running"
It might be some combination of my having a large number of log groups to iterate over and having a large number of forked subprocesses, each with its own isolated winston logger instance using this transport, but even when the logger is sitting idle and not logging anything, I'm getting this stack trace from the aws-sdk:

[code]

I've read through the code and I can't find anywhere this transport

[2015-12-30 09:16] lazywithclass commented on #30
The library is uploading every 1000ms, have a look here: https://github.com/lazywithclass/winston-cloudwatch/blob/master/lib/cloudwatch-integration.js#L57

`ThrottlingException: Rate exceeded` makes me think that there is more than one process that's uploading to the same stream, could you please check that this is not the case?

[2015-12-30 19:17] traverseDLP commented on #30
I am using this transport with SailsJS, and it is the only transport that I am using. I often get this error as well. It would be easy enough to turn the upload interval into a parameter.

[2015-12-30 19:44] lazywithclass commented on #30
It can easily be set as a parameter, no problem, take into account that the limitations are imposed from AWS itself: http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/cloudwatch_limits.html

So you can't delay the upload too much, otherwise the batch will be too big and so it will be rejected.

[2015-12-30 23:04] keithchilders commented on #30
My use case is forked invocations of worker process that each bring in my logging module. In that case you would have multiple processes uploading to the same stream. Seems like I just need to follow the same practice that AWS does for how highly concurrent processes like Lambda log to CloudWatch and just append some arbitrary process-specific value to the stream name. Just making the stream name

[2015-12-30 23:04] #30 closed

[2015-12-31 08:47] lazywithclass commented on #30
Yes I did hit myself these problems when I was working with streams. Glad it helped.

[2016-01-20 00:47] rickwaugh1 opened #31 "Throttling Exceptions"
I'm trying to understand what would cause these. It seems the default is limit is 5 messages per second, but I saw elsewhere that Winston Cloudwatch only submits once every second. If we only have one server running, or two, we should not running into volume limits, could it be size limits?

It's a bit confusing the way it works. Looking long term, we are creating an api that could be bombarded wi

[2016-01-20 08:50] hdn8 commented on #30
@keithchilders were you able to make set the stream name dynamically (pulling out the uuid somehow in node) or did you hardcode it in your settings?

[2016-01-21 19:22] tlcada opened #32 "Create two loggers with different log level"
Does anyone know that how this is possible:

var winston = require('winston');
var cloudwatch = require('winston-cloudwatch');

var errorLogs = winston.add(cloudwatch , {
    level: 'error',
    logGroupName: 'timetableprovider',
    logStreamName: 'error-logs',
    awsAccessKeyId: 'xxx-123',
    awsSecretKey: 'xxx-456',
    awsRegion: 'eu-central-1'
});

var infoLogs = winston.add(cloudwatch , {

[2016-01-28 12:02] lazywithclass commented on #31
Hey, sorry for the delay, I just moved home.

You got throttled if your action violates either of these conditions: http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/cloudwatch_limits.html

Since that is a limitation on the API side I chose not to code any solution (like queuing) just because it would just grow indefinetely, what you could do, and what Amazon advices you to do, is

[2016-02-02 10:48] lazywithclass commented on #30
@hdn8 I am going to push a 1.0 hopefully soon enough. Open a new issue after that in case you still get the error.

[2016-02-25 17:00] lazywithclass commented on #31
Did you end up using this library?

[2016-02-25 17:02] rickwaugh1 commented on #31
I moved off the project. Not sure what they are using now.

[2016-02-25 17:04] lazywithclass commented on #31
Ok thanks, I'll close this.

[2016-02-25 17:04] #31 closed

[2016-03-22 07:22] rebolyte commented on #32
Is it possible to have two loggers with different options at all? For me, the parameters of the last instance included are what gets used, so I can't set up different instances to log to different CloudWatch streams.

[2016-03-22 10:21] lazywithclass commented on #32
It's not possible. I'm working on a solution right now.

[2016-03-22 10:44] lazywithclass commented on #32
@rebolyte would something like this be helpful?

[code]

In the last line you would be passing the stream name as metadata.

[2016-03-22 16:46] lazywithclass commented on #32
I've coded the feature but there's some issue with Winston (https://github.com/winstonjs/winston/issues/833), or probably with how I use it, that basically duplicates the entries I send to CloudWatchLogs.

The feature is "ready" in this branch if you fancy having a look at the problem https://github.com/lazywithclass/winston-cloudwatch/blob/using-multiple-configurations/index.js#L16

[2016-03-22 18:18] rebolyte commented on #32
Thanks for the response. Yes, the the multiple loggers is the approach I'm trying now, but with the same problem. Ideally, I'd like to be able to use it like this:

[code]

[2016-03-22 18:30] lazywithclass commented on #32
I think I will have to convert it to use an OO approach.
I implemented a solution but it always logs to the last configured log.

[2016-03-31 10:03] lazywithclass commented on #32
@rebolyte sorry I disappeared, I am working on it. In fact I just got the first working version. As you can imagine it's not really polished, so I will work cleaning it up and preparing a 1.0.0 with more tests than it has now (which are really poor).

This is how you would use it:

[code]

I've tested and it works. Logging `"1"` and `"2"` to the proper streams.

[2016-04-01 13:42] lazywithclass opened #34 "Make sure that incoming 1.0.0 still works with lots of streams (paging)"

[2016-04-01 15:39] lazywithclass commented on #32
@tlcada @rebolyte I am done, if you want to test it you could use this branch https://github.com/lazywithclass/winston-cloudwatch/tree/using-multiple-configurations, I will publish 1.0.0 during the weekend.

[2016-04-01 19:46] rebolyte commented on #32
Great! Tested and it works. Thanks for working on this.

[2016-04-04 08:28] lazywithclass commented on #32
It's published, let me know if you're having problems and I'll try to fix in a quick iteration!

[2016-04-04 08:28] #32 closed

[2016-04-04 09:36] #24 closed

[2016-04-04 09:36] #26 closed

[2016-04-04 09:36] #25 closed

[2016-06-12 17:56] ashuntwo commented on #34
It doesn't. see [my pull request](https://github.com/lazywithclass/winston-cloudwatch/pull/40)

[2016-06-21 22:01] lazywithclass commented on #34
Thanks for this, I've replied in the PR, closing this.

[2016-06-21 22:01] #34 closed

[2016-07-06 03:32] alias8 opened #41 "Program does not terminate"
I've tried using the code from the readme. The message does appear in my AWS CloudWatch console, but the program does not terminate. I am using nodejs 6.2.1.

[code]

Thanks for any assistance.

[2016-07-06 12:45] lazywithclass commented on #41
Hey @alias8, that's the expected behaviour.

Logs are collected into an array and then sent to AWS at a fixed, configurable, rate.
You can see [this behaviour](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L67) in the code.

[2016-07-07 15:20] lazywithclass commented on #41
Does this make sense for you @alias8? Can I consider this closed?

[2016-07-08 00:44] alias8 commented on #41
Hi @lazywithclass, thanks for the quick response. I didn't realise that was the expected behaviour.

[2016-07-08 01:12] lazywithclass commented on #41
No proble @alias8, here's the change, hopefully it will not create doubts in other users :)

https://github.com/lazywithclass/winston-cloudwatch#examples

[2016-08-06 14:30] rurri opened #42 "Limit of 5 clients per account due to frequent calls to describeLogStreams"
AWS limits calls to describeLogStreams to 5 times per second per account per region.

Because this software calls describeLogStreams *twice* per log put request. The default setting of using an uploadRate of 2 seconds causes ThrottlingException to occur after just 5 clients are using this transport--even if each user of this library is putting logs to a different stream.

The putLogEvents also has

[2016-08-15 10:49] lazywithclass commented on #42
Hey @rurri thanks for taking the time to create this issue, seems like I need to revisit quite a few parts of the library.

Sorry it took so much for me to answer, I am looking into the best course of action for your valid points.

I'll first have a look at https://github.com/lazywithclass/winston-cloudwatch/pull/43 and then come back to this after that is merged.

[2016-08-27 13:24] lazywithclass commented on #42
About your points:

1. "Only call describe stream on initial start to obtain the sequence number and/or create the log stream." - I need to create the log stream whenever there's the need for a new log to be uploaded, the user might've asked for a new stream. Also it might happen that a stream gets deleted while the app is running, logging has to still work.
2. "Keep the sequence number from put r

[2016-08-27 13:24] #42 closed

[2016-08-31 15:18] moshest opened #44 "Exceptions won't log"
I notice that when my app crashes, the logs won't set to Amazon.
I think it's because this plugin send the callback immediately and not wait for the sending interval.

My configuration include `{handleExceptions: true}`

[2016-09-06 12:39] lazywithclass commented on #44
@moshest I'm not sure I understood your problem; if the process running node crashes winston-cloudwatch will no longer be running too, as it is running in that same process.

[2016-09-06 12:44] moshest commented on #44
Winston has the ability to log crashes and then exit. Please see here: https://github.com/winstonjs/winston#handling-uncaught-exceptions-with-winston

But because the logger [call the callback immediately](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L60) the process exit before the logging is complete.

[2016-09-06 12:46] lazywithclass commented on #44
Yeah I'm reading that first link right now. Could you please paste here how you're using it?

Thanks for the pointer in the code I think I get it now, I will have to code a new feature, it doesn't look too difficult.

[2016-09-06 12:54] moshest commented on #44
`handleExceptions` make a bind to [`'uncaughtException'` event](https://nodejs.org/api/process.html#process_event_uncaughtexception), You can see it [here](https://github.com/winstonjs/winston/blob/de69bccf957cca2247ef529c2b66c88059adbae6/lib/winston/logger.js#L440).

You may want to extend the method [`logException`](https://github.com/winstonjs/winston/blob/d4fdbadc2f4ab8408261497a116ef80e0f9475

[2016-09-06 12:58] lazywithclass commented on #44
Yes I meant an example on how you are using it, like what you are passing to `winston.handleExceptions`.

With that example it will be easier for me to test.

[2016-09-06 13:03] moshest commented on #44
[code]

[2016-09-06 13:04] lazywithclass commented on #44
Ah ok I see, you enable it as a flag. Thanks!

[2016-09-15 21:14] lazywithclass commented on #44
Hey @moshest I had some free time and looked into this.

I still have a doubt about how to implement this and you might help me clear it, in winston-cloudwatch there's a `setInterval` that sends logs to AWS, I'm not sending them as soon as you call `log`, so there's no real point in which I can say "I am done call the `callback`".

I am writing a small test to reproduce a crash and see what happen

[2016-09-15 21:28] moshest commented on #44
In my opinion, you should stack all the callbacks and simply call them once the `setInterval` accord.

[2016-09-15 21:45] lazywithclass commented on #44
Mh... that could be one way of doing it, nice.
I still want to see the problem in action though, before coding my solution.
Will keep you updated.

[2016-10-10 12:30] moshest commented on #44
Any news?

[2016-10-10 12:50] lazywithclass commented on #44
I am sorry it's taking this much time, I am having some issue at work in this period.
What's slowing this down is the proof of concept test that simulates your scenario, the change per se it's easy to do.

[2016-10-18 13:20] lazywithclass opened #45 "Keep the sequence number from put requests"
It's returned as nextSequenceToken from each log send event.

See https://github.com/lazywithclass/winston-cloudwatch/issues/42

[2016-10-18 13:21] lazywithclass opened #46 "In the event of an "Invalid Sequence Number error""
Describe the logs again to get a fresh sequence number

See https://github.com/lazywithclass/winston-cloudwatch/issues/42

[2016-10-23 12:29] lazywithclass commented on #44
Hey @moshest, I now have more time to look into this.
I've set up a simple scenario to reproduce your problem:

[code]

Your process is going to exit regardless of me waiting for `WinstonCloudWatch.prototype.add` to finish with a callback, this is because of how uncaught exceptions are handled by Winston: https://github.com/winstonjs/winston#to-exit-or-not-to-exit.
Your process will exit after 300

[2016-10-23 12:43] moshest commented on #44
We just need to make sure that the exception on this example will logged correctly.

[code]

You can find out if an error triggered from an exception by testing if the error message start with the string `"uncaughtException: "`. You can see in on Winston [here](https://github.com/winstonjs/winston/blob/de69bccf957cca2247ef529c2b66c88059adbae6/lib/winston/logger.js#L649).

[2016-10-23 13:02] lazywithclass commented on #44
Ok, I will set up a test CloudWatch env. Having some problems to login with my MFA at the moment.

[2016-10-23 13:44] lazywithclass commented on #44
@moshest Ok so the problem is that, with the configuration you passed me, it takes more than the Winston timeout to successfully post a log record into CloudWatch.

You can check this by changing [this line](https://github.com/winstonjs/winston/blob/master/lib/winston/logger.js#L674) in your local Winston instance in `node_modules/` to, for example, `10000`, you will see the log being successfully

[2016-10-23 14:07] moshest commented on #44
I think that both options are bad.

1. It's a bad habit to ignore errors. Node should exit on exceptions.
2. It's seems reasonable that if there is an error, the process will exit in 3 seconds.

Please see my [pull request](https://github.com/lazywithclass/winston-cloudwatch/pull/47) fo a solution.

[2016-10-23 14:26] lazywithclass commented on #44
Well... I think "bad" it's a point of view here, otherwise they wouldn't have added `exitOnError` in the first place. Especially because it really depends on the error, if it's something you can recover from you can definitely do that.
I'm confused why exactly 3 seconds seems reasonable :D

But I am digressing, I will have a look at the PR, thank you.

[2016-10-23 14:42] moshest commented on #44
It's bad because if on some error you DO want to exit, the logs wouldn't work.

Regarding the 3 seconds, If a program has an error and should be killed, 3 seconds is more then enough.

[2016-10-23 14:54] lazywithclass commented on #44
I'm not used to estimate generic solutions, I prefer to decide based on the case at hand, so I'll pass on the discussion :D

[2016-10-23 15:06] #44 closed

[2016-10-23 15:09] lazywithclass commented on #44
@moshest Available in 1.6.0

[2016-10-23 15:10] lazywithclass opened #48 "Tests and coverage after 1.6.0"
Add tests for the changes introduced for uncaught exceptions.

[2016-10-23 15:58] moshest commented on #44
Thanks!

[2016-10-28 16:55] btmdave opened #49 "InvalidParameterException"
Sometimes this can occur `InvalidParameterException: 1 validation error detected: Value '[]' at 'logEvents' failed to satisfy constraint: Member must have length greater than or equal to 1`, I assume because the data being set is empty.  It would be nice if this could be suppressed so you don't have to validate before logging somewhat arbitrary data, or if the data provided is empty, then this mod

[2016-11-01 09:40] lazywithclass commented on #49
Hello, thanks for the report. Could you please show some code that reproduces the problem?
Either in the form of test, or small project, or just a file that uses the library.

This would help a lot in finding the issue.

[2016-11-04 14:13] FlorianBouron commented on #49
Hello, I have the same problem as @btmdave.
I think this problem happens when the WinstonCloudWatch object is "waiting" for new logs.
If I understand well, WinstonCloudWatch will send an array of data to CloudWatch each 2 seconds (by default). However, if we don't have any data to send, WinstonCloudWatch will send an empty array to CloudWatch, in this case we get an error 400 by Amazon Cloud Watch

[2016-11-04 14:23] lazywithclass commented on #49
Aaah I get it!

Thank you so much for the explanation @FlorianBouron, I will have a look at this over the weekend.

[2016-11-07 16:51] FlorianBouron commented on #49
Hi @lazywithclass , I made some improvement for my case of this error and about a "bug" I had in my Cloudwatch Log with "meta" data (point number 2).
I made a pull request.
Best,

[2016-11-07 18:11] lazywithclass commented on #49
Yes I had something similar going on in another branch, will check and let you know there.
Thanks for your help!

[2016-11-07 23:03] lazywithclass commented on #49
Closing here, continuing in the PR; @btmdave the PR is merged please feel free to reopen here in case you still have the problem.

[2016-11-07 23:03] #49 closed

[2016-11-22 14:39] yonahforst commented on #41
I'm trying to use this on AWS lambda but my functions keep timing out, since the process never quits. Any suggestions?

[2016-11-22 15:29] lazywithclass commented on #41
@yonahforst Is your requirement to just log once to CloudWatch and then exit?
If so I can extend the library to allow this behaviour.

The process never quits because it needs to send logs to CloudWatch in a timed fashion, to avoid being rejected. This is why I wrapped it in a `setInterval` https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L81.

Let me know, I am happy to co

[2016-11-22 15:38] yonahforst commented on #41
@lazywithclass - well, I'm calling `log` multiple times within my lambda function. I really like that it batches them up. But I need someway to terminate the function once all my code has run.

[2016-11-22 15:39] lazywithclass commented on #41
@yonahforst Ok let me think about this, I will come back with a proposal.

[2016-11-22 21:37] lazywithclass commented on #41
@yonahforst What if I add a handle for `SIGTERM`?

The behaviour would be

[code]

At this point you can either `process.kill(process.pid, 'SIGTERM');` from your code, or `kill $PID` from the console / script on the machine (I know this doesn't apply to you, but it's a nice option for the other people).

What would happen inside winston-cloudwatch is something similar to when we exit because of an

[2016-11-23 10:43] yonahforst commented on #41
@lazywithclass - So lambda is kind of weird. They give you a callback, which you call with the result of your code when you finish. When you execute the callback, the process stops and AWS stops billing you.

I just checked, they don't call `SIGTERM` so maybe a function with a callback would be better

[2016-11-23 10:45] lazywithclass commented on #41
@yonahforst You would be the one calling `SIGTERM`, whenever you are done with your work.

[2016-11-23 11:09] yonahforst commented on #41
Right but that's not the way I'm supposed to stop a lambda process 😝 I don't the aws police hauling me off in the middle of the night.

[2016-11-23 11:16] lazywithclass commented on #41
@yonahforst haha :D Ok, I will have a look at the other method. More on that later on.

[2016-11-23 22:27] lazywithclass commented on #41
@yonahforst What about this then, I've quickly coded it and it works, usage:

[code]

`kthxbye` will

* clear the interval
* submit the logs
* call the callback you provided

and then since there's no more `setInterval` the program will exit.

You need to keep a reference to what I called `self`, so you can get the `WinstonCloudWatch` instance (Winston creates a new transport internally), which is

[2016-11-23 22:47] yonahforst commented on #41
@lazywithclass  - this looks great! btw i just got `kthxbye` hahhahaha - perfect

[2016-11-25 17:47] lazywithclass commented on #41
@yonahforst please have a look at https://github.com/lazywithclass/winston-cloudwatch/pull/53, it should be fine but I could use another pair of eyes.

I will publish 1.9.0 over the weekend.

[2016-11-28 12:10] #41 closed

[2016-12-06 12:19] RameshJhajharia opened #55 "InvalidParameterException: 1 validation error detected: Value '[]'"
Hi Guys,

I saw that an issue was created for the same and was closed. Today I had pulled latest code and ran a test. I am still getting the same exception.

Thanks

[2016-12-06 12:25] lazywithclass commented on #55
Hi Ramesh, could you please post here a simplified version of your test? So that I can reproduce the problem?

[2016-12-06 12:37] lazywithclass commented on #55
Hi @RameshJhajharia, could you please post here a simplified version of your test? So that I can reproduce the problem?

[2016-12-06 13:12] RameshJhajharia commented on #55
Hi @lazywithclass, So today I download the project from github, created aws config and tried running samples you have created in the example folder. When I went and checked in cloudwatch I can see that logs were created but after creating logs I started getting following exception:

{ [InvalidParameterException: 1 validation error detected: Value '[]' at 'logEvents' failed to satisfy constraint: M

[2016-12-06 13:28] lazywithclass commented on #55
Ok thanks, I will run those too and check what's wrong.

[2016-12-06 14:14] lazywithclass commented on #55
@RameshJhajharia Hello, I think I need more info from you, which one is the example you are having problems with? I've just run `node examples/simple.js` with my AWS credentials and it works fine.

I might have an idea of what's causing this but it would be much easier with the exact code you're using.

[2016-12-06 14:21] RameshJhajharia commented on #55
@lazywithclass I had tried running `simple.js, multiple-loggers.js,simple-with-aws-options.js`. I was getting exception for all of these.

It is creating log in cloud and I think after that it is still trying to upload more logs.

Here is the complete consolle log of `simple.js`:
`{ logGroupName: 'testing', logStreamName: 'first' }
error: 1
{ [InvalidParameterException: 1 validation error detected

[2016-12-06 14:23] lazywithclass commented on #55
It's running in a `setInterval` loop, but it shouldn't try to upload more logs if there's none, I am investigating right now.

[2016-12-06 14:27] lazywithclass commented on #55
Ok @RameshJhajharia the problem does not happen in simple.js but it does happen in multiple-loggers.js, I'm adding the bug tag and working on it.

[2016-12-08 16:15] lazywithclass commented on #55
@RameshJhajharia the problem does not seem to affect log upload, I am creating a sample app that I will run constantly to have a look at this in detail, and possibly to spot any other intermittent error.

Could you please confirm that your logs are always saved regardless of the error you receive in the console?

[2017-01-08 23:26] Omnomios commented on #55
Hey @lazywithclass, I can confirm that the logs are being saved when the `InvalidParameterException` error is being thrown.

If there's any way I can help you debug this, let me know.

[2017-01-10 09:55] lazywithclass commented on #55
Hi @Omnomios the problem is due to the fact that somehow an empty `logEvents` gets passed through, I am a bit confused about that, it should not happen, I suspect I'm missing some behaviour of shared state when `setInterval` is involved. I will get back to this. The fix is easy, understanding it is taking a bit more.

[2017-03-16 17:52] groteworld commented on #55
Has there been any update on what is the cause of this or what is a work around in the meantime?  Thank you!

[2017-03-16 18:00] lazywithclass commented on #55
Hey @groteworld I am sorry I never actually implemented the fix, meanwhile I got accepted at https://www.recurse.com/ and I'm currently half way through my batch.

The upload feature is not affected by this bug, I know though that's annoying and alarming to see those errors. I will create some space to properly address this issue, I don't want to just slap in a dirty fix.

[2017-03-21 17:31] lazywithclass commented on #55
Thanks for the patience, work is happening here: https://github.com/lazywithclass/winston-cloudwatch/tree/real-process-to-test-erroring-scenario

I am also considering to move away from `setInterval` it was a hacky way of reaching my goal when I first coded this but now is giving me more headaches than benefits. I am thinking about trying a backoff module, if anyone has suggestion feel free!

[2017-03-21 18:04] lazywithclass commented on #55
@RameshJhajharia @Omnomios @groteworld I've just pushed v1.11.0 which should address the above problems and others.

To allow better debugging on both mine and your side, and to see the library in action if you're curious I've created a [simulation](https://github.com/lazywithclass/winston-cloudwatch#simulation), please take a look and it would be great if you could check that you don't see any mo

[2017-03-22 15:38] laurieb opened #56 "ERROR: self.logStreamName - self is not defined"
Hi,

I believe a change to your package has caused my servers to crash today.... :-)

My new servers that were started up by elastic beanstalk today were all crashing with this error

[code]

I'm going to lock the package to an older version for now, but I thought you might need the feedback.

The code + environment all worked perfectly before this.

Thanks
Laurie

[2017-03-22 15:42] laurieb commented on #56
@lazywithclass Yes, the servers all picked up v1.11.0 today. I've reverted back to 1.10.0 and it seems to have fixed that problem.

Thanks for your prompt help! 👍

[2017-03-22 15:46] lazywithclass commented on #56
1.11.1 available @laurieb, so much for not using a refactor command and doing the change by hand :(

[2017-03-22 15:54] laurieb commented on #56
BTW, have you seen this warning?

[code]

http://stackoverflow.com/questions/42409258/warning-after-updating-mongodb-dependency

The warnings worry me a bit, is this to do with a package you are using? I don't think it's in my app, but not sure...

[2017-03-22 15:58] lazywithclass commented on #56
I've never seen it when running winston-cloudwatch. I'm not sure it's a package I'm using, I don't have mongo dependencies. I will have a look and see if that's correct.

When do you see that warning?

[2017-03-22 16:10] laurieb commented on #56
Hi @lazywithclass

v1.11.1 runs fine locally - just about to deploy to servers

Don't worry about the above warning - I doubt your package uses mongodb

[2017-03-22 16:16] lazywithclass commented on #56
Ok, let me know.

[2017-03-23 21:03] lazywithclass commented on #56
@laurieb Should I close this?

[2017-03-24 08:56] laurieb commented on #56
Yes, please close; v1.11.1 is doing great!!!

On 23 Mar 2017 9:03 pm, "Alberto Zaccagni" <notifications@github.com> wrote:

[2017-03-24 13:30] #56 closed

[2017-03-28 21:09] lazywithclass commented on #55
Let me know if this is any better, I can tweak it if needed, otherwise I will close this.

Thanks!

[2017-03-29 00:15] Omnomios commented on #55
My apologies. Didn't meant to leave you hanging. I'll update the package on my end and test it for a few days and let you know how it goes.

Thanks for the great work, if this sorts it out I'll be very happy.

[2017-03-29 14:24] lazywithclass commented on #55
@Omnomios no worries, anyway we are in a better position now: problems and edge case scenarios can now be tested using [the simulation](https://github.com/lazywithclass/winston-cloudwatch#simulation), so even if the problem is still there we have the tools to track it down.

[2017-04-03 11:28] alecl commented on #55
I still see this error on every run of my code using 1.11.1.

[2017-04-03 14:51] lazywithclass commented on #55
@alecl do you see that when running the simulation?
Could you please post a runnable snippet of your scenario so I can replicate it?

[2017-04-04 15:58] jd-carroll opened #57 "Allow AWS to be passed in as option"
In our environment we need to set the proxy for certain requests, but un-set the proxy when working with AWS.  Additionally, we will pin/modify the AWS SDK to meet specific requirements internally.

It would be nice if we could pass `AWS` as a config param, and update the code to the following:
[code]

[2017-04-04 16:08] jd-carroll opened #58 "Move AWS-SDK to peer dependency"
The AWS-SDK should be specified with a minimum viable version and listed as a `peerDependency` instead of a `dependency`.  This will avoid issues of multiple versions and configuration differences between the versions.

[2017-04-04 23:13] maxcountryman opened #59 "DataAlreadyAcceptedException"
I'm seeing this on startup in a Docker container via pm2-docker. It seems like some kind of strange race condition.

[2017-04-04 23:51] lazywithclass commented on #59
@maxcountryman Yes it is, I kind of think I know where the problem is, but could you please provide some code showing your problem? You could use [the simulation](https://github.com/lazywithclass/winston-cloudwatch#simulation) to try and reproduce the problem, it would help me understand the problem in your scenario way quicker.

[2017-04-05 00:14] maxcountryman commented on #59
Yes it does prevent the logs from being uploaded. I'm not doing anything special, just calling the logger in the callback to starting the Node server.

[2017-04-05 00:24] lazywithclass commented on #59
@maxcountryman How many streams are you using in AWS CloudWatch? And how many servers you have with winston-cloudwatch running in them?

When you say

does that mean that your code looks like this?

[code]

If yes then I really need more info, because this code is working for me.

[2017-04-05 00:26] maxcountryman commented on #59
I doubt you'll see this problem unless you're using pm2.

In my case I'm running four/eight processes via pm2-docker.

The sample code you provided is logically equivalent to what I'm doing.

[2017-04-05 00:27] lazywithclass commented on #58
Thanks for the info, I will have a look at that. Feel free to submit a PR.

[2017-04-05 00:28] lazywithclass commented on #59
@maxcountryman How many streams are you using in AWS CloudWatch?

[2017-04-05 00:28] maxcountryman commented on #59
Just a single stream.

[2017-04-05 00:34] lazywithclass commented on #59
@maxcountryman [These are AWS CloudWatch limits](http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/cloudwatch_limits_cwl.html), winston-cloudwatch will not synchronise between different processes, as in your case, a solution other people adopted is to [log to different groups / streams](https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/multiple-loggers.js).

[2017-04-05 00:35] maxcountryman commented on #59
That's not the error I'm seeing. It clearly says the batch was already submitted.

[2017-04-05 00:42] lazywithclass commented on #59
There's definitely a race condition, and I am suspecting it is because there's just a single stream. [The docs in AWS](http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html) about this problem are reduced t the bare minimum.

I will try to come up with an example that reproduces your situation, because without that it's just guess work.

[2017-04-05 00:44] maxcountryman commented on #59
Sorry I can't provide more context. When I saw the error I had four processes spun up via pm2-docker and only submitting a single line upon the server starting. In AWS Console I saw three of the expected four lines.

[2017-04-05 00:44] lazywithclass commented on #57
Ok, I think this could be useful for others too, feel free to suggest a PR.

[2017-04-05 00:45] lazywithclass commented on #59
That's ok. I've written [the simulation](https://github.com/lazywithclass/winston-cloudwatch#simulation) for these cases, where I can't just come up with an explanation right away. Hopefully I will come back with more context.

[2017-04-05 21:41] westy92 opened #60 "Improve formatting for filtering"
You can filter CloudWatch logs, but only easily if they are formatted a certain way.

Currently, this is the formatting code:

    return _.isEmpty(log.meta) ?
      [ log.level, log.msg ].join(' - ') :
      [ log.level, log.msg, stringify(log.meta) ].join(' - ');

However, according to [Amazon](http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html), pieces must be s

[2017-04-05 22:22] maxcountryman commented on #59
So what I believe is happening here is when two or more processes are consuming the same stream there is an implicit race condition where processes are competing for use of the `sequenceToken`: essentially what can happen is two or more in-flight requests can contain the same token, especially if they're launched around the same time. One request will win the race and they others will fail with th

[2017-04-07 01:51] TimJohns commented on #55
I owe you all an apology - I fixed this in my branch quite a while back and didn't submit a PR. This week, we were reworking some of our logging and got off of our fork and so grabbed the latest NPM module, and noticed this came back -- so I came here and noticed this thread.

The code has diverged significantly, so my fix at https://github.com/TillerHQ/winston-cloudwatch/commit/d0a2d56449308b54a8

[2017-04-10 21:36] lazywithclass commented on #55
@TimJohns No apologies needed, thanks for your help, you just have explained one thing that kept on bothering me for ages! :D

I have gone through your PR over the weekend but couldn't really understand the best way to integrate it, I also want to cover it with tests, so I am getting coverage back to 100%, then I will port it, with tests.

I am worried that we might lose some functionality, this i

[2017-04-10 23:31] TimJohns commented on #55
Sounds good, let me know if you need some help; I can make the change easily to a different commit on a different branch if that would help.  Also it just _looks_ crazy because I indented to move most of the code to a nested function, so diff thinks I changed a whole bunch of lines.

This diff that ignores whitespace is MUCH cleaner:

git diff -w c4ce08919499a2b3d48608e966098128661e9d84 .

Coverag

[2017-04-10 23:37] alecl commented on #55
You can also add ?w=1 to the github diff web pages to ignore the whitespace there too in case that's helpful.

[2017-04-10 23:37] lazywithclass commented on #55
@TimJohns yes, tests would help me write less code, I'm getting the projet back to 100% right now.

I've removed whitespace from your PR, lol, now I see what you meant! Have a look at it: https://github.com/lazywithclass/winston-cloudwatch/pull/61/commits/c086568a08a141d03af702e4c735c343d3ff2467?w=true, now I get it!

[2017-04-11 01:45] lazywithclass commented on #55
@TimJohns it turned out to be easier to copy paste code than to resolve the conflict I had, I made sure to include you as the much appreciated author of it, thanks again.

I will now test this and proceed to release 1.11.3, which will contain the fix.

[2017-04-11 21:44] lazywithclass commented on #55
1.11.3 is out. Please let me know if it fixes the problem, so we can close this.

[2017-04-15 17:23] lazywithclass commented on #60
Thanks @westy92 I am currently working on the other issues, but if you think it would help you and others feel free to submit a PR.

[2017-04-26 06:28] barogo-jwyoon opened #62 "multi line log support?"
hi! i'm using winston-cloudwatch.

i try multi lline log transport.

ex.
[code]

but cloudWatch log.
[code]

why not add newline text?

thank you.

[2017-04-26 18:54] lazywithclass commented on #55
I am considering this as closed, let me know if it's resolved.

@RameshJhajharia @TimJohns @alecl @Omnomios @groteworld

[2017-04-26 18:54] #55 closed

[2017-04-27 01:35] barogo-jwyoon commented on #62
### This problem solved.

i'm using morgan npm.

before code

[code]

after code

[code]

### But `logger.info(resp)` and `logger.info('resp', resp)` different result in cloudWatch console.

logger.info(resp) - cloudWatch not logged
[code]

logger.info('resp', resp) - cloudWatch logged
[code]

[2017-04-27 03:28] lazywithclass commented on #62
I'm not sure what you're saying sorry, should I close the issue @barogo-jwyoon?

[2017-04-27 04:12] barogo-jwyoon commented on #62
my issue is not display at aws cloudWatch console with `logger.info(resp)`.

but `logger.info('resp', resp)` display at aws cloudWatch.

[code]

[2017-05-23 22:34] twk-b commented on #46
We are starting to see the following regularly now:

{ InvalidSequenceTokenException: The given sequenceToken is invalid. The next expected sequenceToken is: SUPERTOKEN
    at Request.extractError (/var/app/current/node_modules/aws-sdk/lib/protocol/json.js:48:27)
    at Request.callListeners (/var/app/current/node_modules/aws-sdk/lib/sequential_executor.js:105:20)
    at Request.emit (/var/app/cur

[2017-05-23 23:00] lazywithclass commented on #46
Which version are you using? I think we [solved this problem a while ago](https://github.com/lazywithclass/winston-cloudwatch/blob/a5a66b2b5625dd7fd3505175a91275bb3a0806dd/lib/cloudwatch-integration.js#L77), thanks to `submitWithAnotherToken`, which has been in winston-cloudwatch since [1.11.0](https://github.com/lazywithclass/winston-cloudwatch/blob/08e0d830138b1ffefdba08f29706a7b4605d9dee/CHANGE

[2017-05-23 23:41] twk-b commented on #46
npm ls winston-cloudwatch

`-- winston-cloudwatch@1.11.3

On Tue, May 23, 2017 at 5:00 PM, Alberto Zaccagni <notifications@github.com>
wrote:

[2017-05-24 08:22] lazywithclass commented on #46
Then the problem is in the fact that your stream is shared between instances, adding a 3 times retry would just make the problem appear less often, but eventually it would still happen, because, from a single instance, as far as winston-cloudwatch is concerned, you can't understand if there's a call going on from another instance.

About your servers crashing, [1.6.0](https://github.com/lazywithcl

[2017-05-24 16:37] twk-b commented on #46
Agreed, after talking to AWS Support, we have updated the code to setup one
stream per resource instead. In my case I was new to CloudWatch... might
make sense to spell that out in the first couple paragraphs so people new
to both winston-cloudwatch and cloudwatch get it right out of the gate.

On Wed, May 24, 2017 at 2:22 AM, Alberto Zaccagni <notifications@github.com>
wrote:

[2017-05-24 16:44] lazywithclass commented on #46
Glad it was resolved, thanks for the suggestion, I've [added it to the README](https://github.com/lazywithclass/winston-cloudwatch/blob/master/README.md#configuring).

[2017-05-24 16:44] #46 closed

[2017-06-13 04:34] ndonnipa opened #63 ""Error: Transport already attached: CloudWatch, assign a different name"?"
i am using winston-cloudwatch within an AWS lambda function and while the code will work sometimes the other times i get the following error - "Error: Transport already attached: CloudWatch, assign a different name"....below is my code

`var cloudWatchOptions = {
    logGroupName: logGroup,
    logStreamName: stream,
    awsRegion: "region"
  }
  winston.add(require('winston-cloudwatch'), cloudWat

[2017-06-13 14:24] lazywithclass commented on #63
It's difficult for me given these informations to tell what's the problem in this case.

Using

[code]

which is [in the examples folder](https://github.com/lazywithclass/winston-cloudwatch/tree/master/examples) I am not getting any error. I suspect that you're seeing that error because you're `add`ing the same name multiple times, which is something [winston itself does not allow](https://github.

[2017-06-20 20:11] lazywithclass commented on #63
Do you still have this problem?

[2017-06-23 09:04] #63 closed

[2017-07-03 18:27] stevenmusumeche opened #64 "TypeScript import issue"
I'm getting the following TypeScript error when using this library:

Cannot use 'new' with an expression whose type lacks a call or construct signature.'
source: 'ts'

[code]

[2017-07-04 06:02] lazywithclass commented on #64
I'm not familiar with TypeScript, the support has been added as a PR, but I will surely have a look into it; any pointers / hints would be greatly appreciated!

[2017-07-05 21:19] stevenmusumeche commented on #64
I'm pretty new to it as well.  This was the only library where I had an issue like this so I thought I would create an issue.

[2017-07-05 21:50] lazywithclass commented on #64
@stevenmusumeche  How can I replicate this? Could you please provide a minimum setup?

I am not sure if it's just a matter of creating a .ts file with that code at the root of the project.

[2017-07-06 13:25] stevenmusumeche commented on #64
I believe if you create a server.ts file in the root of the project and put the code above you will see the same error from TypeScript.

[2017-07-06 16:46] lazywithclass commented on #64
@stevenmusumeche I've some errors doing what you suggested so I created a new repo, this way I can clearly see what's the minimum required configuration and point future users with the same problem to it.

What's the command I should use to see the error? `tsc server.ts` gives a lot of errors like

node_modules/aws-sdk/clients/dynamodbstreams.d.ts(92,38): error TS2304: Cannot find name 'Buffer'.
n

[2017-07-09 03:23] stevenmusumeche commented on #64
That is the command, but those errors are probably related to not having the typings installed for winston. `npm install @types/winston` should fix that.

However, I redid my setup to use npm scripts instead of gulp, and it appears I am no longer getting this error, so it may have been my error all along.

I do apologize for raising an unnecessary issue and wasting your time.

[2017-07-09 10:27] lazywithclass commented on #64
Ah no worries for that :)

I appreciate you coming back here and telling me so!

[2017-07-09 10:27] #64 closed

[2017-07-14 14:16] lazywithclass commented on #59
@maxcountryman Sorry for the huge delay, I finally have time to clean issues in this repo.

I am trying to replicate this, because I suspect it's not just happening when someone uses pm2, would this be a correct simulation

[code]

you could find `running-process.js` here https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/simulate/running-process.js. Then what I do is take th

[2017-08-10 12:59] SteveWestbrook opened #65 "Non-enumerable meta objects not being serialized"
A common use of winston is to record error information using

`logger.error('It failed for some reason', err);`

where `logger` is a winston instance and `err` is some Error instance.  Unfortunately, on inspecting cloudwatch logs, we found that this error information was not transmitted, and instead was replaced with an empty object.  A little digging in the winston-cloudwatch codebase led to line

[2017-08-10 17:21] lazywithclass commented on #65
@SteveWestbrook thanks a lot for the detailed issue. I had no idea about `JSON.stringify` not serialising non-enumerable members, that SO question is great, I am now implementing the fix as follows:

[code]

[2017-08-10 18:35] lazywithclass commented on #65
@SteveWestbrook The problem was a funny combination of what you've correctly written and the way `lodash.isEmpty(new Error('uh-oh))` works, from [the docs](https://lodash.com/docs/4.17.4#isEmpty):

This is the visual result, is it what you wanted?

![image](http://i.imgur.com/BQH50vi.png)

I'd love another pair of eyes to check my solution, could you please have a look at https://github.com/lazywi

[2017-08-10 19:07] SteveWestbrook commented on #65
Looks good to me.

If you value one-to-one behaviour match with winston's default transports, you can just take error.stack instead of serializing the whole error, but I like your solution better.

I was wondering if it were possible to assign data to an error such that it will not show up in Object.getOwnPropertyNames, but a basic assignment does not cause any problems for your code, so I am not

[2017-08-10 20:20] lazywithclass commented on #65
winston-cloudwatch@1.11.4 is now available, thanks for finding this issue

[2017-08-10 20:20] #65 closed

[2017-08-30 19:33] rettgerst opened #67 "InvalidAction: The action or operation requested is invalid. Verify that the action is typed correctly."
I'm not sure if this is an issue with your module, but I'm running into an issue trying to integrate it into my project.

my code is basically as simple as possible:

[code]

where config.winston looks like:

[code]

I have verified that the group and stream exist.

running with the debug flag set to true, I get log output like:

[code]

after some digging, it seems like this is being returned fro

[2017-08-30 20:26] rettgerst commented on #67
I found the root of the problem. it was a configuration issue on our part.

it turns out, somewhere else in our app, the endpoint for the AWS sdk was being set to a port on localhost, to be used with a locally running copy of dynamodb. since this configuration was being set on the root AWS object, winston-cloudwatch's internal cloudwatch service object was inheriting this configuration.

[2017-08-30 20:26] #67 closed

[2017-08-30 20:41] lazywithclass commented on #67
Cool that you solved it :+1:

[2017-09-26 00:30] dnewman-polar3d opened #69 "Rate exceeded question"
winston: 2.3.0
winston-cloudwatch: 1.11.4

Been using winston-cloudwatch for close to a year.  Thanks much!  But I have a question for you all.

A server of mine racks up around 800 - 900 Rate Exceeded warnings per day.   I'm trying to understand what limit exactly in CloudWatch it might be hitting (and then what to do about it).  In this usage of CloudWatch, there is only a single process logging

[2017-09-26 11:17] lazywithclass commented on #69
It looks like the code you posted is fine, it shouldn't be getting a 400 "Rate exceeded", is this the only place where you are sending logs to CloudWatch?

I don't think the delay by 2 seconds has any effect on the problem, I think you might as well remove it if you're sure the `if` is working correctly, also, you should be able to send logs much faster than every 60 seconds.

One thing you could

[2017-09-26 14:03] dnewman-polar3d commented on #69
The every 60 seconds should only be in the event of an error (that code being in the errorHandler).  Please correct me if I'm mistaken.

There are certainly other servers logging to CloudWatch: another seven of which a couple log frequently (more than once a second).   And one of those servers logs to the same log group, but a different log stream.  Of the eight total servers, there are seven log

[2017-09-26 14:39] lazywithclass commented on #69
I see; make sure that you have a stream for every topic you want to monitor, this is a best practice from AWS, winston-cloudwatch supports the use of a function to determine the name of the stream, this way you could construct the name based on the server, time, whatever you wish.

Have a look at [this example](https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/function-confi

[2017-10-11 19:42] crucialwebstudio opened #70 "TypeError: callback is not a function"
Hello,

I have this code:

[code]

and I receive this error:

[code]

I am using:

[code]

Caveats:

1. I realize `winston: ^3.0.0-rc0` is ahead of your `winston: ^2.1.1` but wanted to bring it up since Winston 3 will be out eventually.

1. The log groups/streams do not exist and the machine I am running on does not have permission to create them. So I fully expect an error. I'm just trying to und

[2017-10-13 08:07] #69 closed

[2017-10-14 17:32] crucialwebstudio commented on #70
Thanks for your reply and pointing out winston's `uncaughtException` handler. I've updated my code to this:

[code]

However, now I am getting nothing in the console, nothing in `./log/exceptions.log` and nothing in cloudwatch (<- this part is expected, as I mentioned)

I guess, to simplify the discussion...

Going back to my original code without the exception handler, how am I getting `TypeError

[2017-10-14 18:13] crucialwebstudio commented on #70
Ok, so I downgraded to winston: 2.4.0 and started getting something more like what I expected in the console.

[code]

I think we can put a pin in this issue and attribute it to incompatibility with `winston ^3.0.0-rc0`.

I'll be happy to revisit this and help you test for winston 3 when you're ready.

[2017-10-14 21:25] lazywithclass commented on #70
Yes agreed, let's revisit it by then.

[2017-11-14 10:57] singamcet opened #73 "callback is not working.."
`
var winston = require('winston'),
    WinstonCloudWatch = require('winston-cloudwatch');

exports.handler = (event, context, callback) => {
winston.add(WinstonCloudWatch, {
  logGroupName: 'testing',
  logStreamName: 'first'
});
var error = new Error('we are doooooomed!');
winston.error('error', error)

callback(null, "success")
};

`
The callback is not working, Lambda just shows the time out e

[2017-11-14 14:57] w8jcik opened #74 "The `logging` event never fires"
According to documentation of `winston` logger emits `logging` events

https://www.npmjs.com/package/winston#events-and-callbacks-in-winston

Is this functionality missing?

`log.ts`
[code]

Logging itself works fine, entries appear in the CloudWatch UI.

[2017-11-15 13:32] lazywithclass commented on #73
What are you trying to achieve? I am not sure what you mean with "Lambda just shows the time out error", are you saying you're running this into AWS Lambda and getting a timeout?

I slightly changed this code and run it as so

[code]

which prints

      at handler (/private/tmp/tmp.js:9:14)
      at Object.<anonymous> (/private/tmp/tmp.js:17:1)
      at Module._compile (module.js:624:30)
      at

[2017-11-15 13:35] lazywithclass commented on #74
This library doesn't have that feature, honestly I didn't know it existed :)

Is this important for you? I could have a look how difficult it would be to add it.

[2017-11-15 14:03] w8jcik commented on #74
I wanted to use this event to expose information if logging works.

[code]

Maybe there is simpler way to do this.

[2017-11-15 14:14] lazywithclass commented on #74
Ok I understand your use case, let me think about it.

[2018-01-16 17:00] #48 closed

[2018-01-16 17:01] #73 closed

[2018-01-16 17:06] #45 closed

[2018-01-16 17:06] #59 closed

[2018-01-16 17:13] lazywithclass opened #75 "Upgrade to the latest winston version"
...and since you're there update all other dependencies.

[2018-01-23 19:23] nfantone commented on #75
#76 ?

[2018-01-26 13:30] lukewis opened #77 "Question: How to debug?"
I'm certain I'm missing something obvious here, but my simple example doesn't behave as expected.  My experience with AWS is that it's nearly always a permissions issue, but in this case it doesn't appear that the events are even attempted to be written to cloudwatch.  I tried setting WINSTON_CLOUDWATCH_DEBUG=true, but I didn't see any additional output.  The LogGroup and LogStream exist in AWS an

[2018-01-26 14:07] lukewis commented on #77
Nevermind.  It WAS an obvious mistake.....I had confused this npm package with winston-aws-cloudwatch.  Yours works just fine.

[2018-01-26 14:07] #77 closed

[2018-01-26 14:08] lazywithclass commented on #77
Ok cool 👍

[2018-02-23 08:59] steven10172 opened #78 "Allow MAX_BATCH_SIZE_COUNT to be modified with an option"
`MAX_BATCH_SIZE_COUNT` should be allowed to be customized with the other options. I need to be able to send ~400 log entries per second of a small amount of data (~50kb).

[2018-02-23 12:21] lazywithclass commented on #78
Is that 50kb each or total?

[2018-02-23 16:01] afharo opened #79 "Wrong type winston.LogMethod for messageFormatter"
Hi as of now, `winston.LogMethod` is defined as https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/winston/index.d.ts#L490

But `messageFormatter` should be a function that receives 1 parameter `logObject` with `{level: string, msg: string, meta: any}` and returns a `string`.

https://github.com/lazywithclass/winston-cloudwatch/blob/e3a09270cf383edeed4d962acb8764b9838a30a8/typesc

[2018-02-23 17:25] steven10172 commented on #78
Total, each log entry is 20-100 characters.

On Feb 23, 2018 4:21 AM, "Alberto Zaccagni" <notifications@github.com>
wrote:

[2018-02-25 16:30] #79 closed

[2018-03-26 07:06] stephen1706 opened #81 "got 404 unknown error"
why does whenever i do a log, i always got 404 unknown error. probably it was triggered when it is going to submit to cloudwatch?

[code]

here is my code :
[code]

[2018-03-26 07:41] lazywithclass commented on #81
I assume `NODE_ENV` is there right? Please make sure about this.

One thing you can do is to use [the simulation tool](https://github.com/lazywithclass/winston-cloudwatch#simulation) I wrote to understand if the problem is in your code or if I have to fix a bug that's preventing you from saving logs.

[2018-03-26 08:27] lazywithclass commented on #81
Ok great!

[2018-04-20 13:31] aneilbaboo commented on #70
@lazywithclass - ah, thanks for the pointer. That PR works for me.

[2018-04-20 13:34] lazywithclass commented on #70
@aneilbaboo great, I'll close this then.

[2018-04-20 13:34] #70 closed

[2018-05-16 06:47] polco commented on #58
Actually, would it makes more sense as a dev-dependency since it's only used for testing purpose ? People should not have to download it when requiring the package.

[2018-06-04 16:56] Rickgg opened #83 "Typescript 'silent' property is missing."
Typescript is giving an error that the `silent` property is missing in the `TransportInstance` options. According to the docs, the property is used only in 6 transports, not sure if the module can/should support it too.

[2018-06-05 09:09] lazywithclass commented on #83
We don't explicitly support it. Have a look [at this line](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L13), there we call the `Transport` with `options`.

I can add it to the TypeScript definition, would that be ok?

[2018-06-05 14:29] Rickgg commented on #83
Yes please, at least so that the TS compiler doesn't throw error.

[2018-06-05 14:32] lazywithclass commented on #83
I will, as part of the improvements that will come after Winston 3.0 (which should be released today).

[2018-06-05 23:50] Rickgg commented on #83
Great! Thanks.

[2018-06-20 07:29] lazywithclass commented on #75
Yes, closing.

[2018-06-20 07:29] #75 closed

[2018-06-21 05:42] jawadakram20 opened #84 "InvalidSequenceTokenException: The given sequenceToken is invalid."
I am getting this error when I try to add logs to cloudwatch using my nodejs app which is running in cluster mode. Couldn't find any solution. Please respond asap.

[2018-06-21 05:44] jawadakram20 commented on #84
@lazywithclass

[2018-06-21 07:59] lazywithclass commented on #84
With the information you have me it's almost impossible to reproduce the issue.

* are you using a different stream per resource? Have a look at the [AWS docs](https://github.com/lazywithclass/winston-cloudwatch#usage)
 * did you try reproducing the issue with the minimum code possible? [Simulation](https://github.com/lazywithclass/winston-cloudwatch#simulation) might help you
 * what version of t

[2018-06-21 10:17] jawadakram20 commented on #84
@lazywithclass I am using
`"winston": "^2.4.3", "winston-cloudwatch": "^1.13.1"`

my code is...

`import * as winston from 'winston';
import { environment } from '../../config/environment';
import 'winston-cloudwatch';

const options: winston.CloudwatchTransportOptions = {
  logGroupName: (environment.NODE_ENV || 'development'),
  logStreamName: (environment.NODE_ENV ? `${environment.NODE_ENV}` :

[2018-06-21 11:45] lazywithclass commented on #84
What about the other questions? What results did you get by running the simulation?

Your code looks fine, but I might be wrong since it's not formatted, I am sure you can simplify it more than this, to arrive to "the minimum code possible" I was talking about before. Once you arrive to that we could see if there's a bug or not, my guess is that you're using a single stream.

[2018-06-21 11:59] jawadakram20 commented on #84
@lazywithclass yeah, I am using single stream but when I create multiple streams I donot get that error. also nothing logged on cloudwatch as well.

[2018-06-21 12:08] lazywithclass commented on #84
That's the point of my first question

You should use one stream per resource.
You should run the simulation and see if that works, from there you know that your setup in AWS works, and you can check if the works, after you've reduced your code to the minimum (no dev / production checks, no config that's not strictly necessary, etc) please paste it here.

[2018-06-21 12:29] lazywithclass commented on #84
That code is not logging though, right? I mean, it's missing the logging line.

Try to run one of [the examples](https://github.com/lazywithclass/winston-cloudwatch/tree/master/examples) and see if you still get an error.

[2018-06-21 12:32] jawadakram20 commented on #84
@lazywithclass I am logging with

`logger.info('this is first log.');`

[2018-06-21 12:38] lazywithclass commented on #84
Ok. I've never used it with TypeScript, but we can easily see where the problem is if you either run

 * the simulation
 * one of the examples

Once you've run one of those, we will have a clearer understanding of where the problem is.

[2018-06-21 13:05] jawadakram20 commented on #84
@lazywithclass I have used your code of simulation.
It logs nothing on cloudewatch as I am using dynamic stream names.

[code]

[2018-06-21 13:37] lazywithclass commented on #84
I don't see the problem here, just use a fixed name.
We are testing if the library works and your infrastructure is correctly configured.

[2018-06-21 13:48] jawadakram20 commented on #84
@lazywithclass I have used the fixed name as well. But nothing worked for me :(

[2018-06-21 13:50] lazywithclass commented on #84
I see. Well, consider that the following should definitely work: https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/simple.js

At a minimum you have to get that working.

[2018-06-21 13:59] jawadakram20 commented on #84
I have used minimum code and it didnt work at all as well.

[code]

Do I need to change anythuing on my aws console as well because I have given cloudbasefullacess to my IAM user.

[2018-06-21 15:07] lazywithclass commented on #84
If you're unsure about your configuration on AWS then you have to do an extra step back: try with the command line https://docs.aws.amazon.com/cli/latest/reference/logs/put-log-events.html

That way you're sure you have nothing between you and AWS.

I don't have any experience with cloudbase sorry. I would take small steps first trying to access directly to AWS CloudWatch from your laptop.

[2018-06-22 11:11] jawadakram20 commented on #84
@lazywithclass This is working for me now. Just one thing that does this package retry whenever an exception of sequenceToken is raised automatically or we have to handle that programmatically?
Also is there any options while using that we can create new streams from code on aws?

[2018-06-22 11:51] lazywithclass commented on #84
Whenever we either get `InvalidSequenceTokenException` or `ResourceNotFoundException` we retry, [as you can see here](https://github.com/lazywithclass/winston-cloudwatch/blob/master/lib/cloudwatch-integration.js#L80).

About the streams, yes, if the stream, or the group, is not there the library will create it for you.

Can I close this then?

[2018-06-22 12:17] jawadakram20 commented on #84
@lazywithclass The library does not create the stream for me.

[2018-06-22 12:47] jawadakram20 commented on #84
@lazywithclass closing this as everything is working now. Thanks... You can add my typescript code as well as an example of typescript too.

[2018-06-22 12:47] #84 closed

[2018-06-25 10:17] deyhle opened #85 "v2.x on npm?"
When will version 2.x with support for winston 3 be released on npm? It's still having 1.13.1 as `latest`.

[2018-06-25 10:34] lazywithclass commented on #85
Yes I did some tests during the weekend and all seems good. I am just being extra careful, sorry about the delay.

[2018-06-26 17:46] lazywithclass commented on #85
@nfantone @ patrickrgaffney I am sometimes getting `"ExpiredTokenException: The security token included in the request is expired"`.

Is this happenning to you? Could you please share how you're using winston-cloudwatch with winston 3.0?

[2018-06-26 21:59] lazywithclass commented on #85
I am going a bit longer with this. I'm making sure also the examples are all correct for the sake of documentation.

[2018-06-29 17:23] lazywithclass opened #86 "kthxbye errors"
examples/flush-and-exit.js throws

[code]

[2018-06-29 17:28] lazywithclass opened #87 "examples/multiple-loggers.js not working"
Erroring with

[code]

[2018-06-29 17:39] lazywithclass opened #88 "When logging with exception the message is not passed through"
For example in the following

[code]

We don't send `'we are doooooomed!'`.

Unless we do

[code]

instead. Still have to understand if it's a bug or it's ok.

[2018-06-29 17:40] lazywithclass commented on #88
@nfantone / @patrickrgaffney was this happening to you?

[2018-07-02 17:52] patrickrgaffney commented on #85
I have yet to actually point back to this repository instead of my fork that was discussed on #76. I'll make an attempt to update these dependencies sometime this week and report back my findings.

[2018-07-03 06:54] deyhle commented on #1
I'm getting a similar error with the new 2.0.0 version:

[code]

The log in CloudWatch looks like this:

00:00:00 { "level": "info", "message": "..." }
00:00:00 { "level": "info", "message": "..." }
00:00:02 { "level": "error", "message": "failed to set retention policy ..." }

So apparently the setup is not yet finished, but logs already get sent?

[2018-07-03 14:53] deyhle commented on #88
JSON.stringify of an Error object always results in '{}' in Node.js, so I'd say it is ok. Unless you want to define a default behavior of JSON-ifing Error objects so users don't have to think about that.

[2018-07-03 15:15] lazywithclass commented on #85
Ok @patrickrgaffney, thanks!

[2018-07-03 16:23] lazywithclass commented on #1
I thought that was fixed by the work we did 3 years ago. Do you have some code I can use to reproduce the issue? I will tackle this once I'm done with the testing.

[2018-07-03 17:14] lazywithclass commented on #88
This should be handled.

[2018-07-03 17:14] #88 closed

[2018-07-03 17:34] lazywithclass commented on #87
Fixed by c5094be7b64e26d304560c083bbc4b8428c69304

[2018-07-03 17:34] #87 closed

[2018-07-03 17:37] lazywithclass opened #89 "Check if the simulation tool still works"

[2018-07-03 17:40] lazywithclass commented on #86
Fixed by 0aad1a0d2629470dc8f1dde71f7d4c5a32f768d4

[2018-07-03 17:40] #86 closed

[2018-07-03 17:42] lazywithclass commented on #85
Just an update: I've updated all examples to use the latest API. Next up is the simulation tool, some more testing, then I'll publish as beta. Sorry for the delay :b

[2018-07-04 07:43] deyhle commented on #1
The error originates in `putRetentionPolicy`.

I'm using a single log group for multiple processes (each process has it's own log stream). When deploying, all the processes are set up with winston-cloudwatch.
Then each process calls `ensureGroupPresent` on the same group at about the same time, and in that function `putRetentionPolicy` is always called, also at about the same time. Some of those c

[2018-07-05 08:18] lazywithclass commented on #1
Yes as you said I think the actions are:

 * retry on error
 * don't always write the policy on `ensureGroupPresent`

I will tackle this after the upgrade lands on npm. Thanks for the details!

[2018-07-10 21:00] lazywithclass commented on #85
I pushed version 2.0

Thanks for all the help and the bug reports. I expect there will be some small problems (one already know is https://github.com/lazywithclass/winston-cloudwatch/issues/1). Any further help with PRs or detailed bug reports is more than welcome.

[2018-07-10 21:00] #85 closed

[2018-07-24 08:02] navFooh opened #90 "messageFormatter doesn't seem to work (since Winston 3.0.0?)"
Hello,

Recently I upgraded to Winston 3.0.0 and decided to add some message formatting as well. I my old setup I never used the `messageFormatter` property of `winston-cloudwatch`, but now I felt a need to.

However it seems like the `messageFormatter` function is never executed. No matter what I change on the logObject or what I return from the function. Even when I do a `console.log` in the for

[2018-07-26 15:42] lazywithclass commented on #90
There are a few [examples](https://github.com/lazywithclass/winston-cloudwatch/tree/master/examples) but it might also be that I screwed up somewhere during the upgrade to the newer APIs.

I will check and come to you; thanks for the issue!

[2018-08-01 13:41] ananddevsingh opened #92 "Time out error"
Hi Team,
I'm trying below code with lambda function for the Alexa skill.
`const winston = require('winston');
const WinstonCloudWatch = require('winston-cloudwatch');

const singleLogger = winston.createLogger({
  transports: [
    new WinstonCloudWatch({
      name: 'first-stream',
      logGroupName: 'testing',
      logStreamName: 'first',
      awsRegion: 'us-east-1'
    })
  ]
});`
After the

[2018-08-06 21:03] lazywithclass commented on #90
I've just tested this after reading the source code and this example works for me:

[code]

Could you please check if that's the case also for you?

[2018-08-06 21:11] lazywithclass commented on #83
@Rickgg You will find it in v2.0.1, sorry for the horrific delay!

[2018-08-06 21:11] #83 closed

[2018-08-06 21:13] lazywithclass commented on #92
Hello @ananddevsingh, did you try having a look at [the examples](https://github.com/lazywithclass/winston-cloudwatch/tree/master/examples)?

[2018-08-06 21:55] Rickgg commented on #83
Don't worry about it, and thank you very much!

[2018-08-07 07:05] ananddevsingh commented on #92
Yes, I've already gone thru all the examples but none has worked for me.

[2018-08-07 09:35] lazywithclass commented on #92
That's a problem, I would start with [this one](https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/simple.js), please run it and tell me how it goes.

[2018-08-20 14:11] jaimesemp opened #93 "Trouble understanding setInterval"
Hi,

This is not a bug-related but I would like to ask a question.

I really like this logger project (been able to set stream name, and log to several logs at same time is great), but I can't understand the use of a setInterval.

I would like to use in a lambda function, so, I just wanna log and exit.

Would I need to call before exiting my lambda function the referenced code?

[code]

Why the 'd

[2018-08-20 14:43] jaimesemp commented on #93
I think Im gonna use your 'cousin' winston-aws-cloudwatch plugin.

It does not use setinterval according this: https://github.com/timdp/winston-aws-cloudwatch/issues/50

[2018-08-20 14:43] #93 closed

[2018-08-28 07:57] #92 closed

[2018-08-28 12:19] lazywithclass commented on #93
@jaimesemp yes that's a good choice if you're worried about `setInterval`.

The reason why is using `setInterval` is because I wrote this as a quick hack for an internal project in 2014, where I needed it to constantly be there pushing logs... it was the first thing that came to mind, of course it's wrong but it ended up out in the wild and now I am maintaining it :)

[2018-09-06 02:40] taufiqurrahman opened #94 "How to get success status?"
I've tried to use callback like this :
winston.error("message", function(callback){
  console.log(callback);
 });
but the callback does not contain anything
how to know the message successfully sent to cloud watch with callback?
thanks

[2018-09-06 09:05] lazywithclass commented on #94
I will look into this and report back, thanks for opening the issue.

[2018-09-07 10:03] navFooh commented on #90
Sorry, I didn't have much time to get back to you recently.

I tried your example and that works fine for me too! So I got curious and tried to find why it didn't work in my original case.

Finally I discovered that when specifying the option `jsonMessage: true`, it never hits the `messageFormatter`. Maybe this is desired behaviour, since it's already being formatted as JSON. However, Winston 3 do

[2018-09-13 17:39] drmmr763 opened #95 "Browser Cloud Watch Support"
Hi All

I was really excited to use this in my project which is based on `create-react-app`. After installing and including in my error handler I realized that this module seems to be pretty squarely designed for server-side nodejs projects.

I got all sorts of errors like this:
`Can't resolve 'dns' in '/home/app/frontend/node_modules/pac-resolver`
which clued me into the fact this doesn't seem to

[2018-09-20 17:56] angelmartinez-wz opened #96 "Import/Require correct way to do it"
If `winston-cloudwatch` is a library, why the `README` says in Usage `WinstonCloudWatch = require('../index');`

[2018-09-24 13:53] lazywithclass commented on #96
Because I did not spot the issue, that particular line in the README is 3 years old and has been taken from the examples.

Thanks, corrected!

[2018-09-24 13:55] lazywithclass commented on #95
Hi @drmmr763, I don't have plans to support client side at the moment.
I am open to suggestions or PRs though.

[2018-10-20 06:21] shikaan opened #98 "Handle circular objects"
Hello!

First of all thank you for the amazing job with this, as it saved me (and my company indeed) several hours of useless development :D

Apparently we have issues with circular data structures. It sounds like an easy fix, as there are lots of libraries catering for these kind of cases, so if you're open for contributions I'd be glad to help here.

### Reproducing the issue

[code]

### Error

[2018-10-22 08:49] lazywithclass commented on #98
Hi @shikaan, it's actually far from being amazing, but I thank you nonetheless :D

I am not using this library in production anymore since years (changed job), but I am maintaining it (more or less), so if you're willing to submit a PR you've tested in your environment I am more than happy to review and merge it!

Don't bother updating README, package.json, etc... I will take care of those things.

[2018-10-23 17:39] #98 closed

[2018-11-20 17:28] dcurletti opened #100 "Incorrect TypeScript definitions"
Not sure I will get around to making a PR for this, but just wanted to let the maintainer know that the type definitions are incorrect and do not type-check.

[2018-11-28 13:42] olivierto opened #101 "Winston 3.x and splat"
Hello, i'm using Winston 3.1.0 for logging in console with custom logFormat.
it seems when variable are passed to the logger the winton cloudwatch formatter doesn't apply the "splat" to the log.
example :
[code]
produce a log in cloudwatch :
[code]
here is my code :
[code]
i've also tried with the messageFormatter options with no success
[code]
buy my console log is logging  :
[code]

Is this a bu

[2018-11-29 16:18] angelmartinez-wz commented on #96
Are you importing first winston?

[2018-11-29 16:43] cpury commented on #96
Yes! I'm using Meteor, but that should not make any difference.

[2018-12-04 14:36] bjornSayers commented on #101
I'm experiencing the same issue - cannot figure out how to get splat() to work with this transport

[2018-12-04 19:30] lazywithclass commented on #96
Hello @angelmartinez-wz, which Node.js version are you using?

I think that your issue is related to the fact that you're `import`ing winston-cloudwatch. It's been quite a while since I wrote a Node.js program, but I don't think I've written this library with ES6 modules in mind, I'm simply using [`module.exports`](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L139). If

[2018-12-04 21:37] cpury commented on #96
@lazywithclass I assume you mean me :) thanks for your response, but as mentioned in my comment, I also tried `require`ing it with the same result

[2018-12-04 22:56] dcurletti commented on #100
awesome sounds good.  I use it on side projects, so will do my best to try it out once it's ready.

[2018-12-05 14:02] bjornSayers commented on #101
So I'm planning on using the following workaround:
`

const { format } = require('winston');
const { combine, timestamp, printf, colorize, json, splat } = format;
new WinstonCloudWatch({
		logGroupName: awsCloudWatchConfig.logGroupName,
		logStreamName: 'straight_winston_test',
		awsRegion: awsCloudWatchConfig.awsConfig.region,
		awsAccessKeyId: awsCloudWatchConfig.awsConfig.accessKeyId,
		awsSecr

[2018-12-06 14:12] lazywithclass commented on #101
Yes that's why `messageFormatter` has been implemented!

[2018-12-06 14:15] lazywithclass commented on #96
Yes I meant you ^^"

I did not notice you mentioned `require` too, sorry. Could you please paste here the minimum example that does not work when you use `require`, along with Node.js version, etc?

Thanks!

[2019-04-19 14:49] jucksearm opened #104 "TypeError: winston_cloudwatch_1.default is not a constructor"
use code in typescript
import * as winston from 'winston'
import WinstonCloudWatch from 'winston-cloudwatch'
export default winston.add(new WinstonCloudWatch({}))

after run tsc
TypeError: winston_cloudwatch_1.default is not a constructor
    at Object.<anonymous> (D:\node-project\ais-cdg-gateway\build\utils\logger.js:5:31)
    at Module._compile (internal/modules/cjs/loader.js:689:30)
    at Obje

[2019-05-20 14:28] giomarino commented on #104
I have the same issue. When I remove .default on built JS file everything works. Is it possible to deny .default generation?

[2019-05-28 11:15] perbergland commented on #104
Hmmm do you really get that to compile? For me that results in `Cannot use 'new' with an expression whose type lacks a call or construct signature.` for the `new WinstonCloudWatch` call. The typescript definition for the main class seems pretty broken, sadly.

[2019-05-28 11:16] perbergland commented on #104
This compiles but crashes because the typescript export doesn’t match the actual export:

       transports.push(new WinstonCloudWatch.default(cwOptions));

[2019-06-05 09:34] FrederikPriede commented on #104
I am having the same issue.

[2019-07-16 22:11] Nalgmann opened #107 "awsRegion does not override awsOptions.region"
Issue type: Bug

Hi.
According with [docs](https://www.npmjs.com/package/winston-cloudwatch#options), `awsOptions` are overridden by any other if specified. This is not true in case of `awsRegion`.
This is why:

[index.js](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js), lines `42-55`:
[code]

In line `54` occurs everything. According to [lodash](https://lodash.com/docs/4

[2019-07-23 13:47] troepman opened #108 "Typedefinitions ts1046, ts1093 and ts2666"
Issue type: Bug

Hi,

Since version 2.0.6 our builds do not longer work with typescript 3.5.2 and are broken on the type file definition:
[code]

Rolling back to 2.0.5 solves the problem for me.
Not a big deal for us right now but jus wanting to let you know.

With kind regards,

[2019-07-24 14:42] lazywithclass commented on #108
Thanks for this, I will have a look.

[2019-08-08 09:47] thomasviaud commented on #108
Hi, any ETA ?

[2019-08-08 10:35] lazywithclass commented on #108
Hello, I don't have time for this at the moment, it's unlikely I will be able to have a look in the weekend but I'll try (leaving for vacation next week).

[2019-08-08 10:36] #100 closed

[2019-08-09 08:15] troepman commented on #108
Hi,

please have a look at #109 to see if this helps you out.

And of course have a great vacation!

kind regards,

[2019-08-09 17:44] BradleyDHobbs opened #110 "Is this compatible with Winston 3.2.1?"
Does anyone know if this is compatible with Winston 3.2.1?

This code doesn't seem to do anything:
[code]

I get the logs to the console but nothing shows up in CloudWatch. The credentials have admin access.

Thanks

[2019-08-09 20:29] #110 closed

[2019-08-12 08:16] lazywithclass commented on #108
Fixed by @troepman PR https://github.com/lazywithclass/winston-cloudwatch/pull/109

Thanks again!

[2019-08-12 08:16] #108 closed

[2019-08-29 01:09] visheshd opened #113 "rententionInDays missing in the type definition"
Based on this [example](
https://github.com/lazywithclass/winston-cloudwatch/blob/f04ea514038667ea8c222e5a54f224195948d637/examples/retention-policy.js)

[code]

The [types](https://github.com/lazywithclass/winston-cloudwatch/blob/master/typescript/winston-cloudwatch.d.ts#L49) are missing retentionInDays

[2019-09-02 14:18] lazywithclass commented on #113
Addressed in #106, thanks anyway for your PR!

[2019-09-02 14:18] #113 closed

[2019-09-09 15:10] tiborbaksa commented on #90
I ran into the same issue, expecting the format option to be used if `messageFormatter` is not provided. This is not the case, so I ended up implementing `messageFormatter` to use the formatted message from the `info` object:

[code]

I think this should be the default behavior from winston 3.0.0.

[2019-09-20 13:15] selected-pixel-jameson opened #115 "CloudWatch LogGroups Not Getting Created"
I have an expressjs App that is setup to run from within a AWS Lambda function. When I deploy this app to my development environment the lambda console logs show up, but it doesn't create a new CloudWatch LogGroup as specified in the configuration.

If I run the lambda function locally and generate logs it will create a CloudWatch Log Group for the local environment.

The Lambda Functions are conn

[2019-09-20 14:24] lazywithclass commented on #115
What version are you using?

Also to help in debugging the problem reduce your configuration to the simplest form possible, so for example remove express and just run the bit that sends logs to AWS.

[2019-09-20 14:27] selected-pixel-jameson commented on #115
I'm running the following versions.
[code]

I'm not sure how I would remove express and still test the logging? The logging works when I run express locally so I'm assuming this has something to do with AWS permissions and is probably not even appropriate for this area, but I figured I would see if someone had an idea and figured it would be a good place to have it documented if someone else had t

[2019-09-20 14:43] selected-pixel-jameson commented on #115
I'm not positive as I haven't implemented it yet on this project, but I believe the issue has to do with the Lambda being in a VPC. When a lambda is in a VPC it loses access to the internet. In order to allow it to have access to the internet you must perform the tasks outlined in this article.

https://aws.amazon.com/premiumsupport/knowledge-center/internet-access-lambda-function/

When I run thi

[2019-09-20 15:23] lazywithclass commented on #115
I suggested removing express to start seeing where the problem is, if the code works outside your deployment environment then you know where the problem is.

So from your second comment I get it you saw logs flowing in outside the VPC, right?

I have very little experience with VPCs, but I remember this project being used successfully in the past by someone that was using Lamba, `ktxhbye` was adde

[2019-09-20 16:39] selected-pixel-jameson commented on #115
Confirming that the problem was related to the lambda function being in a VPC and not granted public access to the internet through Subnets, Route Tables, NAT and Internet Gateways as described within this post. https://gist.github.com/reggi/dc5f2620b7b4f515e68e46255ac042a7

[2019-09-25 09:15] lazywithclass commented on #115
Great!

[2019-09-25 09:15] #115 closed

[2019-10-02 13:14] avnerenv0 opened #117 "Calling 'kthxbye' while an event is being posted will cause events to be missed"
Because `lib/cloudwatch-integration.js` line 20, the callback is called, if this comes from `kthkbye`, the transport is silently "closed" while events might still be waiting.

[2019-10-02 14:21] lazywithclass commented on #117
`kthxbye` has been added for scenarios like AWS Lambda, when at a certain point in time you are done and want to just exit because all work has been done.

What is your use case?

[2019-10-02 14:43] avnerenv0 commented on #117
My use case is a short running Docker container, pretty similar to Lambda. I would also like the process to exit at some point, but I'd like to be sure all the log events have been sent.

[2019-10-02 14:46] lazywithclass commented on #117
Yes you are right, we should not just randomly discard events, I will think of a possibile solution for this.

[2019-10-02 15:17] avnerenv0 commented on #117
I opened https://github.com/lazywithclass/winston-cloudwatch/pull/118 for this

[2019-10-21 15:32] mlisonek98 opened #119 "Dependency https-proxy-agent vulnerabilty"
Hey so there apparently is a security issue with older versions of https-proxy-agent which is a dependency of this package. Any way it can be updated to version 3.0.0? Here is what . i get when I run npm audit:
`                       === npm audit security report ===

                             Manual Review
       Some vulnerabilities require your attention to resolve
     Visit https://go.npm

[2019-10-22 15:27] lazywithclass commented on #119
Yes, tonight I will deal with two other issues and I'll update dependencies, this got postponed for too long.

[2019-10-22 15:55] mlisonek98 commented on #119
Thanks! great package btw

[2019-10-22 18:12] lazywithclass commented on #119
The package has many issues, but thanks! :D

winston-cloudwatch@2.1.0 has updated dependencies.

[2019-10-22 18:12] #119 closed

[2019-12-06 04:05] tiendq opened #122 "Bug: Missing required key \'logGroupName\' in params"
I was wrong, it wasn't a bug.

[2019-12-06 04:19] #122 closed

[2019-12-11 13:30] #57 closed

[2019-12-31 18:55] lstatro opened #124 "Support for access key sessionTokens"
Hi'ya,

I don't see a means to manually supply a sessionToken.  Obviously that's not an issue when running on a server logging out to the server's host account, as aws will supply the default creds.  However it seems to be an issue should one want to push the logs to another account using creds from a sts assumeRole request.

I welcome feedback anyone may have (admittedly, I may have missed someth

[2020-01-03 10:04] lazywithclass commented on #124
Hi, I'm not aware of what a session token is. It was ages since I used this module and now I am only maintaining it, could you please provide a code example of how you would use this feature?

Also if you could link from the AWS about sessionToken it would be great! Thanks.

[2020-01-09 20:35] DustinWoods commented on #58
This seems old, but I just want to chime in and say I don't think peer dependency makes sense in this case.

[2020-01-16 12:34] lstatro commented on #124
Hi,

Sorry for the delay, here are a few links and an example:

* [Using Temporary Credentials With AWS Resources](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_use-resources.html)

* [aws-sdk sts.AssumeRole documentation](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/STS.html#assumeRole-property)

[code]

[2020-01-20 13:35] Carlovan commented on #90
Also I'd like to mention a couple more things:
* the `LogObject` (now called `info object`) changed: the `msg` property has been replaced with `message` property (as stated [here](https://github.com/winstonjs/winston#streams-objectmode-and-info-objects))
* all transports [should derive from `winston-transport`](https://github.com/winstonjs/winston#common-transport-options) for unified interface: n

[2020-01-31 20:55] aaaguirrep opened #125 "json format issue"
Hi, I have configured the transport with json format but it shows the next log in aws, I am sending an object in logger function:

Cloudwatch logs
`info - [object Object]`

Transport configuration:
[code]

Logger
```logger.info({user: 'n/a', controller: 'n/a', function: 'logger', action: `start-${level}-mode`})```

Please, let me know if i need change the transport configuration.

Regards,
Arsenio

[2020-02-03 13:58] lazywithclass commented on #125
Hello, to understand if you have everything correctly configured in AWS just use this example https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/function-config.js

If that works then you're ok AWS side, and your code is the problem, in that case I'd try to follow the examples and work from there.

Let me know how that goes.

[2020-02-03 14:34] aaaguirrep commented on #125
Hi, thanks for your response I have reviewed the documentation and I fixed the code. At present I am seeing properly the log in cloudtrail.

[2020-02-03 14:34] #125 closed

[2020-02-03 14:37] lazywithclass commented on #125
No problem.

[2020-02-13 13:37] bounteous opened #127 "AWS Lambda only executing first CloudWatch transport"
Hello,
I am adding two _winston-cloudwatch_ transports to my **_logger_**. When I am executing the application on my machine, the message is being logged on both CloudWatch pools located on AWS.

The issue comes when I try the same code inside a Lambda function deployed on AWS. Then the message is only being logged on one pool stream, which it's always the the pool configured on the first Winston

[2020-03-25 19:20] petracles commented on #90
Having the same issue on my end with getting `messageFormatter` to work. Though it looks like we can maybe pass in a formatter-function during config init?
![image](https://user-images.githubusercontent.com/49729968/77576737-0d03bb00-6eac-11ea-9569-602ec6e04f4d.png)
I can't find this field anywhere [in the docs](https://www.npmjs.com/package/winston-cloudwatch), but hopefully this works.

[2020-04-05 22:56] lazywithclass commented on #58
The point is that I'm not quite sure which is the minimum viable version for aws-sdk, it's been more than 5 years since I used this module, I'm only maintaining it now.
By keeping the version controlled in package.json I'm somewhat controlling it and restricting the number of bugs / issues that can arise.

@jd-carroll if you're not experiencing any particular issue or annoyance I would close this.

[2020-04-05 23:00] lazywithclass commented on #124
As you might imagine I've been quite busy lately, sorry for the absurd delay in dealing with this.
Is this still an issue?

If so, am I right that I would just have to provide an `awsSessionToken` and use that info to authenticate the calls?

[2020-04-05 23:21] lazywithclass commented on #90
@Carlovan @tiborbaksa hello and sorry for the delay, I've been quite busy on both work and non-work related issues.

Is this still relevant? From what I remember by using `messageFormatter` one could address all formatting needs.

Anyway, I have more free time now and could tackle the issues you're experiencing.
I'm not quite sure I understood the issue, would you please sum up the changes you nee

[2020-04-05 23:26] lazywithclass commented on #127
@bounteous hello and sorry for the delay.

Is this still an issue? If so, I'd need the steps to reproduce this, please confirm this would be a correct approach:

 * create two loggers, A and B, using the code in https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/multiple-loggers.js
 * host the code on an AWS Lambda
 * confirm that logs are always sent to A, never to B

Thank

[2020-04-09 09:51] fewieden commented on #90
@lazywithclass what @Carlovan reported is still valid. I just came across it as well.

**Winston Format**

[code]

**Winston-CloudWatch MessageFormatter**

[code]

[2020-04-09 10:07] fewieden commented on #90
@lazywithclass I also have the same expectations as @tiborbaksa.

If I create my logger with something like:

[code]

I would expect if I don't specify a custom `messageFormatter` while adding a cloudwatch transport, that it would print in the format of the logger described above.

Currently, I need to add transport like this in order to achieve the same format as the console transport for example

[2020-04-09 10:56] lazywithclass commented on #90
So you want to be able to do

[code]

and rely on Winston's default, is that correct?

[2020-04-09 13:13] fewieden commented on #90
@lazywithclass yes that is correct, so I can use the same format in all my transports.

[2020-04-09 23:22] lazywithclass commented on #90
@fewieden I am trying to put myself in your scenario, I wrote the following example script

[code]

and saw `"error - error error!"` in AWS CloudWatch.
I'm afraid I am missing the point you guys are trying to kindly explain me, could you please post a complete snippet that I can try to verify what needs to be done?

[2020-04-10 02:39] petracles commented on #90
I think what @fewieden is asking is for WinstonCloudWatch transport(s) to use the same formatter as used by other transport(s) that have been defined. Right now, we are defining two formatters:

1. One for the Winston transport(s)
2. One for the WinstonCloudWatch transport(s)

It's not a huge problem to have duplicated code, but it would be nice to be able to define a formatter once and use it acr

[2020-04-10 02:42] petracles commented on #90
Hey @lazywithclass, based on your example, it looks like that's what the ask from OP was - to be able to define a `format` once and use it for any transport (a Winston one or a WinstonCloudWatch one).

I'm curious to try your example, as I've done something similar in the past with no success. I'll give it another shot soon, and if I get it working, I can come back and post some code :)

[2020-04-11 16:12] fewieden commented on #90
@lazywithclass in principle that's what I would like to do, but I think the problem with your example here is, that the format you specified is the same as you use for cloudwatch as default, if `messageFormatter` is not specified. That's why they are matching.

https://github.com/lazywithclass/winston-cloudwatch/blob/276dcdf0ae8edf5d236b2d097b02c72231a32514/index.js#L25-L27

Our custom format look

[2020-04-13 23:37] lazywithclass commented on #90
About `msg`: we don't have that anymore in the codebase, [we use `message`](https://github.com/lazywithclass/winston-cloudwatch/blob/00a7d9040691a4692d0013248c724009e898da9a/index.js#L25) the docs were obsolete, but [now I've fixed them](https://github.com/lazywithclass/winston-cloudwatch/commit/747ae3c2292fdae6c046394938f159b4c7a23802).

I've changed my proposed example to sum up your problem as

[2020-04-14 16:15] fewieden commented on #90
@lazywithclass

1. The example looks good to me.
2. Yes, I would have expected the second output in Cloudwatch.
3. The problem with msg for me was, that typescript complained about the interface for messageFormatter. Both packages come with their own types in the package. My dependencies in this regard look like:

[code]

If you like we could also do a pair programming session.

[2020-04-14 18:05] lazywithclass commented on #90
I'll start working towards a solution. In case I'll have problems I'll come back to you.

Thanks for the offer :)

[2020-04-16 18:56] bounteous commented on #127
Hello @lazywithclass ,
Yes, I build on that example. The problem is the intervals with which this module works. Lambdas are unable to identify that there are still jobs running in the background and the lambda is killed before writing to group B in cloudwatch.

The only solution I have found has been to use subscribers with a global variable.

[2020-04-17 17:51] terrisgit opened #128 "Timeout reached while waiting for logs to submit"
I'm waiting for kthxbye to finish and am getting a "Timeout reached while waiting for logs to submit" after about 10 seconds. Is there a way to control this timeout?

Thank you!

[code]

[2020-04-18 08:02] avnerenv0 commented on #128
No, right now `defaultFlushTimeoutMs` is hard coded in `index.js`.
We can open a PR to specify a different number through options or env var

[2020-04-18 16:17] terrisgit commented on #128
For now, I can set flushTimeout before calling kthxbye to Date.now()+_desired timeout_

[2020-04-18 16:31] terrisgit opened #129 "Process may hang unless kthxbye is called twice"
1. WinstonCloudWatch transport is configured to handle uncaught exceptions
2. An unhandled exception occurs immediately before closing the logger via the kthxbye method
3. While closing the logger, Winston calls add() on the CloudWatch transport with the log entry for the unhandled exception, turning on the transport's background queue processor
4. The process will hang instead of exiting due to t

[2020-04-18 16:46] terrisgit commented on #129
The call to WinstonCloudWatch.add happens because of an unhandled exception, so although kthxbye doesn't wait for aws-sdk to finish writing, it's not the cause of that extra add() being sent to the transport: I need to somehow disable the exception handler during shutdown.

[2020-04-18 19:50] terrisgit commented on #129
1. call kthxbye on all cloudwatch transports
2. call end and close on all Winston loggers that use them like this:
3. call kthxbye on all cloudwatch transports again

[2020-04-18 20:00] terrisgit commented on #129
[code]

[2020-04-19 20:09] lazywithclass commented on #128
Yes that would be the use @terrisgit.

I will close this for now, but if you'd like this feature feel free to submit a PR or offer a few tests.

[2020-04-19 20:09] #128 closed

[2020-04-19 20:11] lazywithclass commented on #129
Thanks for the detailed report.

I will reopen this, and either improve our README or fix the bug.

[2020-04-20 16:22] lazywithclass commented on #90
To have a clean implementation I think we have to move away from the obsolete inheritance model I coded ages ago and introduce the much cleaner class model. This will also allow to get rid of old practices like `utils.inherit` and `winston.Transport.call(this, options)`, and finally allow us to follow the preferred way of creating a new `Transport`.

One of my wildest dreams would be also to remov

[2020-04-20 16:34] lazywithclass commented on #127
Ok I see.

Thanks for your reply; yes, `setInterval` has been a problem since the day after I coded this 5 years ago :D
This issue will have to wait for #90 to be completed, which I'm working on right now, but it will take some time. The good news is that *I might* be able to also get rid of `setInterval`.

[2020-05-02 15:58] terrisgit commented on #129
See also https://github.com/winstonjs/winston/issues/1250#issuecomment-622969996

[2020-05-03 13:54] lazywithclass commented on #90
Update: as you can see from https://github.com/lazywithclass/winston-cloudwatch/pull/130 I moved to the cleaner class syntax, and I've used Winston's default formatter.

I'll then put myself back into the green-red-green refactoring cycle, so I can hopefully remove `setInterval` as required for #127.

[2020-06-02 03:06] surya-purohit opened #131 "Getting cloudWatch is a legacy winston transport. Consider upgrading"
I was working on `v2.3.0` and everything was perfectly fine. But when I update `winston-cloudwatch` to v2.3.2. It started breaking and I saw a warning message displayed saying `Getting cloudWatch is a legacy winston transport. Consider upgrading`.
After degrading to `2.3.0`, it;s working again.

Code snippet:
[code]
In the other file I am importing this file and writing something like
[code]
Once

[2020-07-24 18:19] omarryhan opened #134 "How to pass `winston.format.json()` as a formatter?"
This will cause a TS error:

[code]

I expected it to work like the in the stock transports of Winston e.g.

[code]

[2020-08-08 20:57] arcsoftech opened #135 "CloudWatch LogGroups Not Getting Created"
My lambda function is not attached to any VPC, Still It is not posting logs to cloudwatch.

Here is my code.
[code]

[2020-08-13 12:26] xtr0 opened #136 "InvalidParameterException: 1 validation error detected: Value '[]' at 'logEvents' failed to satisfy constraint: Member must have length greater than or equal to 1"
Sometimes they come back - #55

As far as I understand from the code the issue appears if uploadRate is less then the time required to upload logs AND the logStreamName changes between iterations

Simple code to reproduce (and logs):
https://github.com/xtr0/issues-winston-cloudwatch/tree/change-logstreamname-upload-iterations-overlap

[2020-08-13 12:43] xtr0 commented on #136
to be honest I don't think it will be an issue in a real scenario as nobody will change logStreamName on every call...
I got this error while was doing some synthetic test

[2020-08-23 17:49] lazywithclass commented on #134
I am working on a new version of this module that will follow Winston's transports defaults.

https://github.com/lazywithclass/winston-cloudwatch/pull/130

[2020-08-23 17:50] lazywithclass commented on #135
Did you manage to solve this?

[2020-08-23 17:52] lazywithclass commented on #136
I will mark this as bug nonetheless as it may be suggesting a deeper problem in the implementation.

Thanks for opening this issue.

[2020-08-28 01:15] arcsoftech commented on #135
No. It did not work. I had to use this package "winston-aws-cloudwatch" to make it work.

[2020-09-08 18:48] lazywithclass commented on #135
Ok I see. I will close this ticket then, unless you're willing to give more details, because this module is working on AWS Lambda for other users.

[2020-09-23 10:53] nish20490 opened #137 "InvalidSequenceTokenException: The given sequenceToken is invalid. The next expected sequenceToken is:"
In our project we have 6 microservices running and we using Seneca for them.
We have a centralized logger implemented using winston.
Recentry we tried to add logs to cloudwatch so we have added Winston cloudwatch.
But wheneverI start my development server, each microservice starts which puts a log to cloudwatch.
So during this, each time I get this InvalidSequenceTokenException for atleast 2 of th

[2020-09-23 10:55] nish20490 commented on #137
Because of this exception, some logs are not reaching to cloudwatch. We are facing same issue on staging as well as on prod.
Is there a way to retry these missing logs?

[2020-10-04 10:48] lazywithclass commented on #137
Are you using 6 different streams? If I remember correctly (it's been years since I've used this library in production), you should assign to each different source of logs.

There should be a best practice somewhere in AWS Cloudwatch documentation explaining this.

[2020-11-10 09:26] juunone opened #139 "Suggest specified required options"
hi, i read and use winston-cloudwatch now
when i read readme files
there is no required tag or text in options
without aws-sdk and send log with WinstonCloudWatch have to this options

how about specified this options?
[code]

stay safe 👍
thanks

[2020-11-11 11:13] brunottonurb commented on #74
Does the `logging` event still never fire?

[2020-11-24 01:08] lazywithclass commented on #139
Hello @juunone, I'm not quite sure I've understood your problem.

Could you please paste here the code? I'll be glad to help.

[2020-11-24 02:00] juunone commented on #139
hello @lazywithclass
i mean when i use WinstonCloudWatch without `aws-sdk`

this options be required in WinstonCloudWatch
[code]

[code]

there WinstonCloudWatch document contents not enough to explain this options.😦
`This is the list of options you could pass as argument to winston.add`
then i suggest specified required options in document more explain

thank you :D

[2020-12-22 14:19] lazywithclass commented on #139
Ah I see, you're suggesting I should explain better how to configure the library? Did you have a look at the examples?

[2021-02-16 16:39] emanueleragni-nova commented on #124
I'm facing the same issue, and yes you are right, it's just needed to add a awsSessionToken in the request.
Check this for reference:
[Using temporary credentials with AWS resources ](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_use-resources.html)

[2021-02-18 17:55] lazywithclass commented on #124
Ok I will have a look in the following weekds, I might have some free time.

[2021-03-03 18:53] manjula1220 opened #143 "Example Of Using IAM Roles"
I did not find any examples to use IAM Roles like to specify the IAM Role how we are specifying LogGroup, LogName Etc..

[2021-03-11 17:33] tabroughton opened #144 "Could we move aws-sdk to devDeps?"
I'm not sure of all the use cases but I assume that this is largely to run on aws lambda and the aws-sdk is already there.

With it being a prod dependency then my --production packages that depend on winston-cloudwatch are too large for lambda@edge and I have to remove winston-cloudwatch and I've ended up just using console.log as a work around for now.

If we moved aws-sdk to devDependencies the

[2021-03-15 20:00] tabroughton commented on #144
...Almost 10MB with the current deps.  Is there a reason that the full aws-sdk needs to be included?

[2021-03-30 01:09] terrisgit opened #147 "Update proxy-agent"
There is a recent security advisory on proxy-agent 3.1.1 that used by winston-cloudwatch. The only option currently is to upgrade to 4.x

[2021-03-30 03:15] kwajiehao commented on #147
To add on to this, I've just received a high severity vulnerability alert from GitHub re: the `netmask` package, which needs to be upgraded to v2.0.1.  The dependency graph is: `winston-cloudwatch` < `proxy-agent` < `pac-proxy-agent` < `pac-resolver`< `netmask`.

I've just checked and updating `proxy-agent` to v4 does not change the fact that the underlying dependencies still use `netmask` v1.0.6,

[2021-03-30 18:46] terrisgit commented on #147
So hopefully pac-resolver won't have a new major version to do this, because then we will need pac-proxy-agent to be modified.

[2021-04-01 14:08] wilhen01 commented on #147
`pac-resolver` has now been bumped to 4.2.0 to resolve the `netmask` issue: https://github.com/TooTallNate/node-pac-resolver/releases

I think that means an update to `proxy-agent` will be sufficient to fix this within `winston-cloudwatch`?

[2021-04-01 19:27] lazywithclass commented on #144
Hi @tabroughton, I honestly do not remember why I ended up having aws-sdk as a dependency, I recall there was some talk here in the issues; as you see the project is quite old and I stopped using it in production several years ago, I am just trying to maintain ir now.

I can't say for sure if the vast majority of people using this are on AWS Lambda; anyway, when you say "though I'm curious why tha

[2021-04-04 16:27] sagilevanon commented on #147
Yes, the entire chain is updated, except this last bit.

[2021-04-09 21:19] lazywithclass commented on #147
Fixed in #148

Thanks @dw-bayer

[2021-04-09 21:19] #147 closed

[2021-04-09 21:24] lazywithclass commented on #143
Did you manage to solve this?

Have you tried specifying them in the `awsOptions` parameter https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/simple-with-aws-options.js#L10 ?

[2021-04-12 03:56] prestonlimlianjie opened #149 "v2.5.1 release still contains the outdated version of proxy-agent (^3.1.1)"
I downloaded the v2.5.1 package from the [npm registry](https://registry.npmjs.org/winston-cloudwatch/-/winston-cloudwatch-2.5.1.tgz) and it seems like the `proxy-agent` dependency is still listed as `^3.1.1` instead of `^4.0.1`.

[2021-04-12 09:56] wilhen01 commented on #149
Same. Something isn't quite right...

[2021-04-12 16:05] lazywithclass commented on #149
I'm not sure what I did there, I must've been too tired to publish, sorry about this mistake.

winston-cloudwatch@2.5.2 has proxy-agent@4.0.1

[2021-04-13 06:52] #149 closed

[2021-04-13 19:55] tabroughton commented on #144
I mention about the aws-sdk because AWS Lambdas already have the aws-sdk installed so there's no need to have it listed as a dependency in for production in the package.json, if I do then I when I build my --production app to deploy to lambda I have a very large application to deploy.  Too large for lambda@edge and also makes my normal lambdas very large.

But if you take it out of the package.jso

[2021-04-14 20:53] lazywithclass commented on #144
I see, first of all thank you for the detailed explanation. As of now I think it's like a short blanket, either way someone's feet are going to be cold :D

I'll think about this and see if there are possibile solutions, even maybe two separated builds, I'm not sure, but I'll give this some thoughts.

[2021-04-20 15:59] skam22 commented on #104
still having this same issue - any suggested fixes?

[2021-06-03 12:47] #104 closed

[2021-06-08 17:34] aidan-ayala opened #152 "Help needed setting this up on lambda"
Does anyone have a working version of this being used on lambda or another serverless architecture?

I've tried using the kthxbye function to resolve a promise to ensure all logs are flushed before the lambda function exits but having no luck.

The example provided is fairly basic.

[2021-06-15 13:35] lazywithclass commented on #152
Please provide a snippet of code that shows your problem so I can help.

[2021-06-16 03:53] solarisn commented on #144
@lazywithclass I think the best solution is to replace the aws-sdk dependency with [@aws-sdk/client-cloudwatch-logs](https://www.npmjs.com/package/@aws-sdk/client-cloudwatch-logs). [Version 3](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html) of the AWS SDK for Javascript is modular and enables installation of independent service packages. This will greatly decrease the size of th

[2021-06-25 09:17] SamsadSajid opened #155 "'name' does not exist in type 'CloudwatchTransportOptions'"
In your example for `flush-and-exit.js` the code uses a config `name` in the `WinstonCloudWatch` constructor. But the doc says there's no property called `name` in the options.

Here's your example:
[code]

Ref: https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/flush-and-exit.js

Is it obsolete now?

[2021-07-03 16:54] lazywithclass commented on #155
I've probably just forgot to add `name` to the docs then, as it is being used https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L17

[2021-07-06 04:36] kevde commented on #84
I have updated my latest version on my winston cloudwatch. This implementation still doesnt work. I tried to programatically call putEventLogs and the saving of log event work if a sequence token is assigned, There is no example here in winston-cloudwatch about this. At the same time I dont know how to attach the sequence token on the code. It is essential in logging

[2021-07-12 19:32] kevin-king commented on #144
+1

Encountered this on a project. AWS SAM duplicates your lambda NPM modules for every lambda. `winston-cloudwatch` adds an additional 60 MB per lambda due to the `aws-sdk` as a regular `dependency` as @tabroughton  described.

This is especially problematic for two reasons (1) it's a logging library, so it's very common that most/every lambda needs `winston-cloudwatch` (2) it's an issue that sca

[2021-07-12 19:37] kevin-king commented on #58
Double posting from a more recent post. Note that `aws-sdk` can be in `devDependencies` (as opposed to `peerDependencies`.

+1

Encountered this on a project. AWS SAM duplicates your lambda NPM modules for every lambda. winston-cloudwatch adds an additional 60 MB per lambda due to the aws-sdk as a regular dependency as @tabroughton described.

This is especially problematic for two reasons (1) it'

[2021-07-16 16:11] lazywithclass commented on #144
I will have some time over the weekend and will try to add this to the module, as I understand the size has become a problem for lots of you!

I just need to understand how to preserve the previous behaviour, for example how to pass a proxy server to the config options.

[2021-07-16 16:21] kevin-king commented on #144
Much appreciated @lazywithclass! Right now we've gotten around the issue by being selective in what we copy into our SAM artifact with a negative glob:

`!.aws-sam/**/node_modules/aws-sdk/**`
`!.aws-sam/**/node_modules/@types/**`

Which works pretty well since it guards against this issue from all dependencies.

In an earlier solution, that we didn't go with, I created a fork of this repo, moved a

[2021-07-16 20:53] lazywithclass commented on #144
I gave this a look, they changed pretty much everything, for example they way I would have to deal with `PutLogEventsCommand` and all the new `*Command` functions.
This module has aged really poorly and bears all the scars of the previous unexperienced me, for example in the way I passed around instances of `cloudwatchlogs`.
With this change and without an almost complete rewrite of all involved f

[2021-07-17 14:29] lazywithclass commented on #144
winston-cloudwatch@3.0.0 has aws-sdk into devDependencies.

Please let me know if you have any troubles with that.

[2021-07-17 14:29] #144 closed

[2021-07-17 14:29] #152 closed

[2021-07-17 14:29] #143 closed

[2021-07-17 14:30] #101 closed

[2021-07-17 14:30] #58 closed

[2021-07-17 14:31] lazywithclass commented on #58
See #144

[2021-07-17 14:34] lazywithclass commented on #84
Could you provide some code showing the problem you're having?

[2021-07-20 03:39] chandora commented on #155
Do you have a plan to fix it?
For clarification, this is not just a doc error but also missing from TypeScript definition (winston-cloudwatch.d.ts).
Thank you,

[2021-07-21 14:19] lazywithclass commented on #155
winston-cloudwatch@3.0.1 should have it fixed, I've added an example using TS so we can refer to that for further problems or features.

Please let me know if this fixes the issue for you.

[2021-07-22 00:01] chandora commented on #155
I confirmed it.
Thank you for the prompt fix !

[2021-07-22 09:05] lazywithclass commented on #155
Thanks to you for reminding me about this! :D

[2021-07-22 09:05] #155 closed

[2021-07-24 09:23] abhimanusharma commented on #155
@lazywithclass I am using latest version 3.0.1 and still getting this error in typescript.

[code]

[2021-07-24 09:26] abhimanusharma opened #157 "Property 'name' is missing in type but required in type 'CloudwatchTransportOptions'.ts"
I see #155 already mentioned it but I am using winston-cloudwatch version3.0.1 and still getting the

[code]

How to fix this bug?

also why is there no reference about **name** field in the documentation if this is even part of this package?

[2021-07-31 19:14] lazywithclass commented on #157
I am closing this in favor of #155

[2021-07-31 19:14] lazywithclass commented on #155
Could you please show the code that's giving you this problem?

[2021-08-09 08:46] Lisenish commented on #137
@nish20490 @lazywithclass

Same happens to me, we have just two services (worker and API) on in AWS, each of them has 2 instances.
Initially services used different streams but instances shared it and everything worked fine but after some time I noticed that services stop log anything after ~6-24 since the last deploy. Restart or deploy fixes it for the next ~6-24 hours.

I saw `DataAlreadyAccepte

[2021-08-10 10:48] lazywithclass commented on #137
Did the proposed PR solved your issue? If so I will review and test it in my environment later this week.

[2021-08-11 15:01] Lisenish commented on #137
@lazywithclass I tested it yesterday and unfortunately it's not :(.
Maybe I did something wrong in the PR but after I deployed this fix I stopped seeing `DataAlreadyAcceptedException` or `InvalidSequenceTokenException` errors in the logs but they still suddenly stopped appearing after some time.

[2021-08-13 15:11] lazywithclass commented on #137
Ok I will have to give this a look, but I am studying for September's exam session, so I cannot guarantee a prompt fix.

[2021-08-16 04:29] dyihoon90 commented on #152
I know its closed but running into some issues with kthxbye on AWS Lambda.

When I run locally with serverless framework, the process exits fine. But when I deploy to AWS Lambda, my function executions are timing out.

In my function execution's aws logs (that does not require this winston-cloudwatch transport), "flushing logs" is logged, but "done" is not logged.

[code]

[2021-08-23 19:45] TripCreighton commented on #135
+1 to @arcsoftech

This package does not work out of the box with cloudwatch in a node environment.

[2021-08-28 09:01] lazywithclass commented on #152
I will add some debugging information into `kthxbye` so that you could have some more hints on what is going on in your scenario.

I will try to deploy this weekend.

[2021-08-28 19:19] lazywithclass commented on #152
winston-cloudwatch@3.0.2 pushed with more debugging info in `kthxbye`, please let me know if this helps you in understanding the problem.

[2021-08-28 19:28] lazywithclass commented on #152
winston-cloudwatch@3.0.2 pushed with more debugging info in `kthxbye`, please let me know if this helps you in understanding the problem.

[2021-08-31 13:58] JP-Dhabolt commented on #155
@lazywithclass Given that the name has a default value being assigned if not included in the options, shouldn't the Typescript definition declare name as optional?

Am currently using v3.0.0 of this library, but if updating to >=3.0.1, my existing (functional) code fails to compile, indicating that adding `name` as a required attribute is a breaking change.

I have been hesitant to update to the l

[2021-09-02 02:20] timotheeg opened #159 "Document the mandatory `name` constructor option"
Hi there,

The typescript definition states `name` is [mandatory as a constructor option](https://github.com/lazywithclass/winston-cloudwatch/blob/d77124fbba1a5986605e805c62938549aa7e1ad3/typescript/winston-cloudwatch.d.ts#L54), but the construction samples in the readme do not use it, which is a little confusing.

In the readme, `name` is listed as `name - string` with no indication of what it is

[2021-09-02 02:32] timotheeg commented on #159
Plus it looks like the constructor supplies a default value, so I'm not sure why the parameter is mandatory in the definition?
https://github.com/lazywithclass/winston-cloudwatch/blob/d77124fbba1a5986605e805c62938549aa7e1ad3/index.js#L17

[2021-09-07 21:46] lazywithclass commented on #159
I should put that as optional, I cannot remember why this `name` attribute is there to be honest with you, I believe it was being used in an older version of the package.
I will have a look at this and then push out a fix as it seems trivial.

[2021-09-09 15:49] ajay47 opened #160 "Using aws-sdk v3 instead of v2 as dependency."
Currently this package uses aws-sdk v2 as dependency. Can you please look into the possibility of migrating over to v3. This will save a lot of space. The v3 is modular in nature and it will be beneficial for us to use @aws-sdk/client-cloudwatch-logs instead of v2 which imports all AWS service functions.
Please let me know if this is possible or maybe it can be scoped as part of Version 4 ? I am r

[2021-09-10 03:57] dicky1126277766238 commented on #160
What a coincidence, I was going to raise this issue too. Yesterday, I just forked and modified for aws-sdk v3 for my own usage. You may take it as a reference. https://github.com/dicky1126277766238/winston-cloudwatch/commit/df4d90adfe6f53f3202e697ebf8cd9d4d3160599

It seems that support of v3 was considered in https://github.com/lazywithclass/winston-cloudwatch/issues/144#issuecomment-881712291 bu

[2021-09-10 22:31] lazywithclass commented on #135
It does not assume that stream / group have already been created, if it doesn't find them, it will create them.

[2021-09-10 22:31] #135 closed

[2021-09-20 02:39] ld-singh opened #161 "Does not log to console by default anymore"
We have been using winston-cloudwatch version 1.5.0 and recently upgraded to version 3.0.0
It used to logs in console and cloudwatch both. But now it logs all infos in cloudwatch and only errors in console. What can we do to log again in both cloudwatch and console?

winston.add(new WinstonCloudWatch({
  logGroupName: 'testing',
  logStreamName: 'first'
}));

[2021-09-20 11:30] ajayttand commented on #160
@dicky1126277766238 Thank you. I was thinking of doing doing something like you have done.

[2021-09-21 06:01] ld-singh commented on #161
Do i need to create like this now with latest version to log in both cloudwatch and console?
const logger = winston.createLogger({
  transports: [
    new WinstonCloudWatch({
    logGroupName: 'testing',
    logStreamName: 'first'
    }),
    new winston.transports.Console()
  ]
});

[2021-09-27 21:40] evantahler opened #166 "Suggest AMI Permissions"
Hi!

Can you please recommend the minimum AMI permissions that would be needed to use this library?  It looks like we are both reading and writing to Cloudwatch logGroups.

Thanks!

[2021-09-28 17:50] lazywithclass commented on #161
I've added an example that works for the latest version: https://github.com/lazywithclass/winston-cloudwatch/blob/master/examples/simple-with-console.js

Let me know if you still have issues.

[2021-10-05 16:48] gio1179 opened #167 "kthxbye throws if intervalId is not defined"

[2021-10-05 17:02] #167 closed

[2021-11-17 13:44] kubakrzempek commented on #137
Now the lib upon `InvalidSequenceTokenException` will try to get a new sequence token and retry sending the logs. However, if there are many resources racing for the same stream (e.g., 4 hosts running the same app from behind load balancer), it might result in the `InvalidSequenceTokenException` reappearing, and in this case, the error will be thrown and the logs (from that batch) discarded.

How

[2021-11-22 13:18] klhex commented on #122
@tiendq Could you describe the details that helped you fix that issue?

[2021-11-23 00:50] mrdavidrees commented on #166
looking at the source, it should require these IAM permisions

DescribeLogStreams
CreateLogGroup
CreateLogStream
PutLogEvents
PutRetentionPolicy

[2021-12-08 05:27] mallikarjuna11421 opened #171 "Logs are not printing in tge given log group name"
Hi ,

 I am facing the issue logs are not printing in the given log group name. logs are printing in the lambda function name group.
please help me to resolve the issue.
any suggestions.

const winston = require('winston'),
    WinstonCloudWatch = require('winston-cloudwatch');
const logger = new winston.createLogger({
    format: winston.format.json(),
    transports: [
        new (winston.trans

[2021-12-08 21:57] lazywithclass commented on #171
Have you tried running one of the examples? If so does that send logs to CloudWatch?
Could you please format the above code?

[2021-12-08 21:58] lazywithclass commented on #166
Yes it's like @mrdavidrees said.

[2021-12-08 21:58] #166 closed

[2021-12-09 06:27] mallikarjuna11421 commented on #171
Hi @lazywithclass  ,

  Yes i tried logs are logging in lambda function group name instead of given group name.

const winston = require('winston'),
    WinstonCloudWatch = require('winston-cloudwatch');
const logger = new winston.createLogger({
    format: winston.format.json(),
    transports: [
        new (winston.transports.Console)({
            timestamp: true,
            colorize: true,

[2022-01-06 06:14] msreekm commented on #144
i am seeing this error when runnning in docker - Error: Cannot find module 'aws-sdk'. could it be related to moving to dev-dependency ? is aws-sdk required to run this in production build? if so, why is it dev-dependency?

[2022-01-08 09:21] sagilevanon commented on #160
Much needed! All our code is based on v3 and adding the v2 is really bloating our bundle.

[2022-01-10 20:02] lazywithclass commented on #160
Hello, sorry for the late reply, I have little to no time now to address issues, if you would like to submit PRs I am very open to review and merge.

[2022-01-25 08:19] edenmydev opened #173 "Metadata not displayed in cloudwatch"
I can't see the metada sent with wintson in Cloudwatch. This is my file config:

`
const winston = require("winston");
const WinstonCloudWatch = require("winston-cloudwatch");
const config = require("./config");
require("winston-daily-rotate-file");

const myFormat = winston.format.printf(({
  level, message, timestamp, ...metadata
}) => {
  let msg = `${timestamp} [${level}] : ${message} `;
  if

[2022-01-30 21:10] lazywithclass commented on #160
@dicky1126277766238 did you end up with some changes you'd feel comfortable to share as a PR here? I won't have time to do such a change.

[2022-03-05 14:52] lvillacin commented on #136
Yup same here

[2022-03-06 19:39] ordimans opened #177 "winston end command, don't flush on AWS"
Hello

I think I am using the module incorrectly.

I send the logs to AWS, except at the end of my main function I have this
[code]

and in this case, the traces are not pushed to AWS.

If I put

`setTimeout(() => {logger.end()},5000)`

It works.
If I don't put

`logger.end()
`
,the end of the program never happens.

[2022-03-08 08:49] sagilevanon commented on #160
Hi @lazywithclass  - will you be able to merge #172 any time soon?
Having the whole `aws-sdk` is really bloating our package.

[2022-03-16 22:18] lazywithclass commented on #160
winston-cloudwatch@3.2.0 is out

[2022-03-16 22:18] #160 closed

[2022-03-17 08:39] vishwanath-awate opened #179 "Getting error cannot find module '@aws-sdk/client-cloudwatch-logs'"
Hi,
I am suddenly getting error today "Cannot find module '@aws-sdk/client-cloudwatch-logs'".
Have you guys changed anything in your dependency ?

[2022-03-17 12:29] lblo commented on #179
Same here. @aws-sdk/client-cloudwatch-logs should not be added as dev dependencies.

[2022-03-17 17:12] danshirley1 commented on #179
There are issues at GitHub atm?

[2022-03-17 21:23] mikeallisonJS commented on #179
this caused a production headache today. I would assume this breaking dependency would have been a major version bump.

[2022-03-18 10:11] kdjervbr commented on #179
Meanwhile I set `"winston-cloudwatch": "=3.1.1"` in package.json.

[2022-03-18 10:45] danshirley1 commented on #179
First thing I did also, just without the '='.

[2022-03-19 08:35] blaxk opened #181 "Unable to set aws credentials in v3.2.0"
[code]

In winston-cloudwatch v3.1.1 with aws-sdk v2 you could set the `awsAccessKeyId`, `awsSecretKey` options.
However, in winston-cloudwatch v3.2.0 using aws-sdk v3, even setting the `awsAccessKeyId` and `awsSecretKey` options causes the credentials error as shown below.

![image](https://user-images.githubusercontent.com/16889775/159113631-c854dbd6-b600-4f9b-9316-7839a6096bef.png)

You're prob

[2022-03-19 16:22] lazywithclass commented on #179
Sorry about any problem the update did cause to your environments. I will look into this now.

[2022-03-19 16:46] lazywithclass commented on #179
As per #180, you now need to have that dependency installed separately.

[2022-03-19 16:59] lazywithclass commented on #179
I am going to republish this as v4.0.0 as it should've been in the first place.

[2022-03-20 17:30] #179 closed

[2022-03-26 19:55] dev-guy opened #183 "Messages permanently retry when the log group doesn't exist"
Hello,

When the ensureLogGroup option is falsy, attempting to send messages through winston-cloudwatch causes the messages to be retried over and over again.

For example, I set up an error handler that logs to the console. After attempting to log only one message, the handler outputs this until I either stop the transport or kill the process:

`ResourceNotFoundException: The specified log group

[2022-03-27 08:26] troy-lamerton commented on #1
If you have a single log group, the solution is to set `ensureLogGroup: false` when creating the `WinstonCloudWatch`. This makes library skip setting the retention policy.

For example:

[code]

Would be nice if `ensureLogGroup` was documented.

[2022-03-27 21:31] terrisgit commented on #183
This might be fixed by #184

[2022-04-12 07:43] zwezheng commented on #177
+1

[2022-04-14 15:20] symbianm commented on #137
Any updates? Have the same issue.

[2022-04-16 18:12] Sammaye opened #186 "Starting now causes error of @aws-sdk/client-cloudwatch-logs not found"
I upgraded from 3.1 to 3.2 to start seeing this error, it is included in the dev deps and as such never actually installed when we install it as a plugin and unless our system has it and not the overall aws-sdk we cannot run this code

[2022-04-19 18:36] stickchartkeith commented on #181
Just to add additional context here, this is also an issue 4.0.1 - and last worked in 3.1.1 for me.  As a workaround, if using Elastic Beanstalk, attaching the Cloudwatch Full policy to the account running Beanstalk got things working again for me.

[2022-04-21 09:15] lazywithclass commented on #186
Upgrade to the latest version, which is 5.0.0, I've added @aws-sdk/client-cloudwatch-logs as part of the peerDependencies.

[2022-05-04 07:17] andrisak opened #187 "Adjust the signature of kthxbye in the TypeScript bindings"
In the [TypeScript bindings](https://github.com/lazywithclass/winston-cloudwatch/blob/master/typescript/winston-cloudwatch.d.ts), the `kthxbye` function has this signature:

[code]

However, the callback is called with a parameter [here](https://github.com/lazywithclass/winston-cloudwatch/blob/master/index.js#L128-L143). Because of this, all errors from the library can't be handled properly in a T

[2022-05-06 11:38] Snapu commented on #124
+1

[2022-05-10 08:00] mishra011 commented on #173
Hi I am facing the same issue

[2022-05-10 15:30] mishra011 commented on #173
@edenmydev try this way. It worked for me.

[2022-05-23 23:09] rgwebcode commented on #181
What is the correct way to set the AWS credentials now?
I've tried to create a `credentials` file in a `.aws` directory in the root of the project, with the content
[code]
As per [the AWS documentation](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html), but I still receive the same error (`CredentialsProviderError: Could not load credentials from any providers`).

And when

[2022-05-24 00:08] rgwebcode commented on #181
Ok, digging more into it, the `.aws/credentials` file needs to be in the user directory (see [this page](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-shared.html)).

However digging even further, I seem to have found an override for the file path location (found in `@aws-sdk/shared-ini-file-loader/dist-es/getCredentialsFilepath.js`).
You can provide an

[2022-05-24 22:24] tkdave commented on #181
In our case, we are already using the AWS SDK and AWS_* env vars. We need to specifically pass in values pulled from alternately-named env vars. 3.1.1 works for our needs.

[2022-05-27 04:11] ivikash opened #190 "DescribeLogStreams is exposing all LogStreamsInBrowser"
@lazywithclass Thank-You so much for this awesome Library. I am facing some issues with `DescribeLogStreams` API call which is being initiated in the beginning of API calls.

# Current Behavior
We are using `wiston` and `wiston-cloudwatch` to create a Logger for Browser environment. For the `CloudWatch` credentials (or to create the CloudWatch client), we are using `Cognito Identity Pool` with `un

[2022-06-02 07:46] kallekj commented on #137
I'm also experiencing this issue, it occurs when we have multiple tests running in parallel which overloads the stream, or it tries to reuse the same sequence token.

[2022-06-13 18:56] lazywithclass commented on #181
Sorry for being so late, I managed to get some time to work on this given the time you've been waiting.

I followed [this guide](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/loading-node-credentials-environment.html) but unfortunately I am not able to replicate, so my suspect is that I did not correctly understand the issue here; this is what I am doing:

[code]

[code]

I got

[2022-06-13 19:09] amites commented on #181
the issue is that defining the API credentials in the initialization class is ignored

if you have them set within `~/.aws/credentials` or the environment it uses them correctly

if that's the direction of then package that's fine, I built a work around that generates the credentials files in docker and I know that assigning roles to the running container is the appropriate runtime solution -- jus

[2022-06-21 23:32] yzpaul commented on #181
To replicate the issue try to set the aws credentials to something else in the WinstonCloudwatch constructor, then look at the accessKeyId stored in options on index.js line 14. Notice it is still set to the default credentials?

[2022-06-22 01:02] yzpaul commented on #181
simple steps to reproduce:

1. remove default profile from .awsconfig (or rename it)
2. set credentials to CORRECT VALUES in `new WinstonCloudwatch({awsAccessKeyId: 'aaaa', awsSecretKey: 'bbbb'})`

Attempt to write a log. Code will fail with error `CredentialsProviderError: Could not load credentials from any providers` at lib.ensureGroupPresent when it calls aws.describeLogStreams

somehow this i

[2022-06-22 01:42] yzpaul commented on #181
Submitted pull request to fix the issue: https://github.com/lazywithclass/winston-cloudwatch/pull/192

[2022-06-22 01:46] yzpaul commented on #190
This pull request will help you set the credentials correctly, and stop you from listing all values in the default profile (which is what is happening now to cause your issue): https://github.com/lazywithclass/winston-cloudwatch/pull/192

[2022-06-22 12:07] cheshu21 opened #193 "Can we use it inside AWS Lambda?"
I am trying to use Winston Cloudwatch inside my Aws Lambda function but My log stream and Log groups are not created.
Could you please help me with this ?

[2022-06-27 15:45] lazywithclass commented on #193
Did you try running one of the examples?

[https://github.com/lazywithclass/winston-cloudwatch/blob/4e3debf16203867479c288fbd2bf00e614e3d10e/examples/flush-and-exit.js](this one) has been specifically made fo AWS Lambda usage.

[2022-06-28 11:19] b0nbon1 commented on #181
Thanks @nikhilrajaram, It worked for me too

[2022-07-04 14:30] chendu opened #194 "How to flush logs before process exist."

[2022-07-04 14:33] #194 closed

[2022-07-08 17:42] tc opened #195 "How do i log using "@aws-sdk/client-cloudwatch-logs" ?"
The README says to use

[code]

"@aws-sdk/client-cloudwatch-logs" doesn't provide a `AWS.CloudWatchLogs()`

I tried

[code]

But get `error: uncaughtException aws.describeLogStreams is not a function aws.describeLogStreams is not a function`

[2022-07-08 17:45] tc commented on #195
i see! use `CloudWatchLogs` not `CloudWatchLogsClient`

[2022-07-08 17:45] #195 closed

[2022-07-19 03:26] blaxk commented on #181
Thanks @nikhilrajaram
In this way the issue was resolved.

[2022-07-19 03:26] #181 closed

[2022-07-19 15:03] lazywithclass commented on #181
Done https://github.com/lazywithclass/winston-cloudwatch/blob/master/README.md#credentials

Thanks for the help everyone, it's much appreciated!

[2022-07-21 03:25] cuzzlor opened #196 "Request: implement a close function (deprecate kthxbye)"
**Why this request**
- Winston transports have an optional `close()` function defined.
- Having to use kthxbye make use with typescript painful and requires special treatment for cloudwatch transports vs other transports.

**Action requested**
Would it be too much trouble to add a `close()` function that runs `kthxbye((error) => console.log(error))`?

**Type definitions**
[code]

[2022-07-26 06:41] wulfsolter opened #197 "InvalidParameterException: Log events in a single PutLogEvents request must be in chronological order."
In heavily async tasks, where many async methods are being run in parallel, we occasionally get

[code]

As for replicating error above in a clean manner is less easy, its things like
[code]
where `asyncMethodThatLogs()` makes one or more logging calls, that cause the issue - occasionally. Sometimes on a fast dev machine I can get away with 5000 "parallel" promises being resolved without issue, so

[2022-07-28 07:23] naufik opened #199 "Top level AWS credentials does not work anymore, but attached in docs"
**Issue**:

I have updated to `v6.0.1` from version `3.x` and had previously set up our transport as follows when using version `3.x`:

[code]

This apparently has stopped working and we had to switch our configuration to follow your new example:
[code]

While this may be expected. Your `README.md` still lists `awsAccessKeyId`, `awsSecretKey`, `awsRegion` under [Options](https://github.com/lazywit

[2022-08-15 19:59] #197 closed

[2022-08-15 20:16] lazywithclass opened #201 "Fix tests and github workflow"
Make test returns the following error and github workflow seems like it never worked properly

[code]

[2022-08-15 20:20] lazywithclass commented on #199
Sorry for the confusion, the correct way is the second one as the docs and TS typings are outdated. I forgot to update them after a PR.

[2022-08-16 02:13] naufik commented on #199
Thanks for the clarification, it's all good 👍🏽

[2022-08-16 13:30] dwilt commented on #104
In an ES6 node project and [@parque-docs's solution[(https://github.com/lazywithclass/winston-cloudwatch/issues/104#issuecomment-494011013) is what only worked for me. Any reason why the docs shouldn't be updated?

[2022-08-17 09:11] tobiasviehweger opened #203 "Size of package increased massively with last update"
With the release of 6.1.0 the size of the NPM package increased massively, from 63.7 kB for 6.0.1 to > 200 MB with 6.1.0. It seems some test files have been published with this release.

![image](https://user-images.githubusercontent.com/2111803/185081365-7bea116f-e74a-4b60-a162-fecc87c33c96.png)

[2022-08-18 10:06] symbianm commented on #203
Having the same issues 6.0.1 = 82 KB vs 6.1.0 = 207,7 MB

[2022-08-19 01:28] andrewda commented on #203
Same here. @lazywithclass, it looks like the AWS CLI may have been accidentally downloaded to the `test/` directory and released in v6.1.0. Could you release a v6.1.1 with those files removed?

[2022-08-21 18:34] lazywithclass commented on #203
So sorry about this accident.

winston-cloudwatch@6.1.1 is out without the increased size.

[2022-08-21 18:34] #199 closed

[2022-09-11 10:03] harithzainudin commented on #193
hi @lazywithclass, I'm really not sure what Ive been doing wrong. I've tried to follow the example that you provided.
but I'm still unable to see the error log inside the cloudwatch. Am I missing something?

I really need your advice on this :( cause I don't see the error `1` and `bye` logging in cloudwatch

the `context` is coming from the lambda context, and the `region` is coming from the lambd

[2022-09-11 10:56] harithzainudin commented on #177
+1

[2022-09-11 14:36] lazywithclass commented on #193
Hello, it's been years since I've used this module in production, expecially in Lambda: to reproduce the problem you're facing I should just write what's in your screenshots, right?

Thanks!

[2022-09-11 14:36] lazywithclass commented on #177
I will also look into this as part of #193 work.

[2022-09-11 14:54] harithzainudin commented on #193
Hi @lazywithclass , yup sure. thanks for the reply :)
to make it easier.. let me copy and paste the code here, instead of you writing it back

and yes, to reproduce, you can just copy and paste the code back
oh yes, to add on, I think you need to update the readme to include the correct roles as when I add in the error handler, I've got no enough permission

just need to add in this line of tag (I

[2022-09-15 09:42] owaisdrabu commented on #73
Hi @lazywithclass I'm having this similar issue, getting timeout error in aws lambda.  would be able to check what's wrong

logger.js file
[code]
`const logger = winston.createLogger({
  format: winston.format.json(),
  transports: [
    new winston.transports.Console({
      timestamp: true,
      colorize: true,
      level: "info",
      format: winston.format.combine(
        winston.format.co

[2022-10-24 22:53] sporteman commented on #137
Any news on that? I'm getting the same issue here.

[2022-10-31 11:35] sowmenappd commented on #137
Hey guys, has anyone worked on this issue yet? We're getting a lot of `InvalidSequenceTokenException` because even though our services use separate streams, most of our services have several instances, which eventually hits the error because of the same race condition mentioned by @kubakrzempek.

[2022-11-02 14:13] Lisenish commented on #137
@sowmenappd In our case, we just migrated to `pino` with the logs emitted just as `stdout` and streamed to CW by AWS. I think it's a more reliable and stable approach, but in case you want to stream them by yourself there's `pino-cloudwatch
` transport.

[2022-11-04 06:11] ivikash opened #205 "Breaking change in aws-sdk clients https://github.com/aws/aws-sdk-js-v3/issues/4122"
Breaking change in aws-sdk clients https://github.com/aws/aws-sdk-js-v3/issues/4122 is causing a failure for winston-cloudwatch.

[2022-11-17 08:21] sb-pramod92 commented on #104
Hi @lazywithclass , still I am facing this error.

(node:17287) UnhandledPromiseRejectionWarning: TypeError: winston_cloudwatch_1.default is not a constructor

tsconfig.json
![image](https://user-images.githubusercontent.com/73944156/202393516-0af79fbd-e82f-4a95-87ed-c9117e74eb56.png)

main.ts
![image](https://user-images.githubusercontent.com/73944156/202393717-8b50ac7c-c603-41ac-8ffb-21a4f734090

[2022-11-25 17:19] lazywithclass commented on #104
@dwilt No, other than that's an error :D, I've just updated it. Thanks.

[2022-11-25 17:20] lazywithclass commented on #205
Hi @ivikash, which version of winston-cloudwatch are you using?